[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
pylint = "*"

[packages]
django = "*"
pytest-django = "*"
behave-django = "*"
pyyaml = "*"
django-money = "*"
gunicorn = "*"
django-solo = "*"
django-afip = "*"

[requires]
python_version = "3.7"
