[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"
pytest-django = "*"
behave-django = "*"
pytest = "*"
pylint-django = "*"
django-extensions = "*"
pydotplus = "*"
selenium = "*"

[packages]
django = "==3.0.6"
pyyaml = "*"
django-money = "*"
gunicorn = "*"
django-solo = "*"
pytest-django = "*"
django-bootstrap4 = "*"
behave-django = "*"
django-extensions = "*"
selenium = "*"
django-crispy-forms = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
