[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
django = "==2.2.7"
pytest-django = "*"
behave-django = "*"
pyyaml = "*"
django-money = "*"
gunicorn = "*"
django-solo = "*"
pytest = "*"
pylint-django = "*"

[requires]
python_version = "3.7"
