{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}Eliminar Permiso {{ object.name }} | Liqueed{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Permisos</h1>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
          Eliminar Permiso: <em>{{ object.name }}</em>
        </h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">

          <form method="post" action="{% url 'authorization:permission-delete' object.pk %}">
            {% csrf_token %}
            <p><strong>Atenci&oacute;n!</strong> Est&aacute; por eliminar el permiso <em>{{ object.name}}</em>.</p>
            <div class="row">
              <div class="col">
                <button class="btn btn-danger" type="submit">Eliminar</button>
                <a class="btn" href="{% url 'authorization:permission-list' %}">No eliminar</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
