<div class="col-12">
  <label for="id_arhivos">Archivos</label>
</div>
<div class="col-6 wrapper">
  <div class="mb-2">
    <div class="form-control custom-file" style="border:0">
      <input class="custom-file-input" type="file" name="archivos">
      <label class="custom-file-label text-truncate" for="id_archivos">---</label>
    </div>
  </div>
</div>
<div class="col-6">
  <button class="btn btn-success d-none add_files"><i class="fas fa-plus-circle"></i></button>
</div>
{% block extra_js %}
<script>
  var max_fields = 10;
  var wrapper    = $(".wrapper");
  var add_button = $(".add_files");
  var x = 1;

  $(add_button).click(function(e){
      e.preventDefault();
      if(x < max_fields){
          x++;
	  var htmlInput = `<div class="mb-2"><div class="form-control custom-file" style="border:0">`;
	  htmlInput += `<input class="custom-file-input" type="file" name="archivos">`;
	  htmlInput += `<label class="custom-file-label text-truncate" for="id_archivos">---</label></div>`;
	  htmlInput += `<button class="btn btn-danger btn-sm remove_field" type="button">x</button></div>`;
	  $(wrapper).append(htmlInput);
	  $('.custom-file-input').on("change", function(e){e.target.parentNode.querySelector('.custom-file-label').textContent=e.target.files[0].name;});
      }
  });

  $(wrapper).on("click",".remove_field", function(e){
      e.preventDefault();
      $(this).parent("div").remove();
      x--;
  });

  $(".custom-file-input").on("change", function(e){
      e.target.parentNode.querySelector(".custom-file-label").textContent=e.target.files[0].name;
      $('.add_files').removeClass('d-none');
  });
</script>
{% endblock %}
