{% extends 'base.html' %}
{% load static %}
{% block title %}Pagos a Proveedores | Liqueed{% endblock %}
{% block content %}
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Pagos a Proveedores</h1>
	<div>
	  <a href="{% url 'accounting:pago-list' %}?formato=xls" class="btn btn-sm btn-primary shadow-sm">
	    <i class="fas fa-file-excel fa-sm text-white-50"></i> Exportar
	  </a>
	  {% if perms.accounting.view_report_retencion_pago %}
	    <a href="{% url 'accounting:pago-list' %}?tipo=retenciones&formato=xls" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
	      <i class="fas fa-file-excel fa-sm text-white-50"></i> Informe Retenciones
	    </a>
	  {% endif %}
	</div>
    </div>
    {% include 'components/messages.html' %}

    <!-- Cards -->
      <div class="row">

	<div class="col-xl-3 col-md-6 mb-4">
	  <div class="card border-left-primary shadow h-100 py-2">
	    <div class="card-body">
	      <div class="row no-gutters align-items-center">
		<div class="col mr-2">
		  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Cantidad Pagos</div>
		  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ page_obj.paginator.count }}</div>
		</div>
		<div class="col-auto">
		  <i class="fas fa-list fa-2x text-gray-300"></i>
		</div>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="col-xl-3 col-md-6 mb-4">
	  <div class="card border-left-success shadow h-100 py-2">
	    <div class="card-body" role="button">
	      <div class="row no-gutters align-items-center">
		<div class="col mr-2">
		  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Nuevos (semanal)</div>
		  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ last_created }}</div>
		</div>
		<div class="col-auto">
		  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
		</div>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="col-xl-3 col-md-6 mb-4">
	  <div class="card border-left-danger shadow h-100 py-2">
	    <div class="card-body">
	      <div class="row no-gutters align-items-center">
		<div class="col mr-2">
		  <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Total adeudado $</div>
		  <div class="h5 mb-0 font-weight-bold text-gray-800">$ {{ debt_in_peso.total__sum|default_if_none:"0" }}</div>
		</div>
		<div class="col-auto">
		  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
		</div>
	      </div>
	    </div>
	  </div>
	</div>

      </div>
    <!-- End Cards -->
    <div class="alert alert-success alert-dismissible fade show {% if not request.GET.create %}d-none{% endif %}" role="alert">
     {% if request.GET.create %}El pago ha sido creado exitosamente.{% endif %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">×</span>
      </button>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">Listado de pagos a Proveedores</h6>
      </div>
      <div class="card-body">
	<div class="table-responsive">
	  <div class="row float-right">
	    {% include 'components/filter_pago_form.html' %}

	    {% if perms.accounting.add_pago %}
	      <div class="btn-group btn-group-sm mb-2" role="group" aria-label="Third group">
		<a class="btn btn-primary" role="button" href="{% url 'accounting:pago-create' %}">Agregar</a>
	      </div>
	    {% endif %}

	  </div>
	  <table class="table table-bordered table-hover" width="100%" cellspacing="0">
	    <thead>
	      <tr>
		<th>ID</th>
		<th>Fecha</th>
		<th>Raz&oacute;n Social</th>
		<th>CUIT</th>
		<th>Total</th>
		<th>Pagado</th>
		{% if perms.accounting.change_pago or perms.accounting.delete_pago %}
		  <th></th>
		{% endif %}
	      </tr>
	    </thead>
	    <tbody>
	      {% for object in object_list %}
		<tr>
		  <td>
		    <a {% if perms.accounting.view_pago %}href="{% url 'accounting:pago-detail' object.pk %}"{% endif %}>
		      {{ object.pk }}
		    </a>
		  </td>
		  <td>{{ object.fecha }}</td>
		  <td>{{ object.proveedor.razon_social }}</td>
		  <td>{{ object.proveedor.cuit }}</td>
		  <td>
		    <div class="float-right">$ {{ object.total }}</div>
		  </td>
		  <td class="text-center" {% if perms.accounting.view_pago %}onclick="location.href='{% url 'accounting:pago-detail' object.pk %}';"{% endif %}>
		    {% if object.pagado %}<i class="fas fa-check-square text-success"></i>{% else %}<i class="fas fa-minus-square"></i>{% endif %}
		  </td>
		  {% if perms.accounting.view_pago or perms.accounting.change_pago or perms.accounting.delete_pago %}
		    <td class="text-center">
		      {% if perms.accounting.view_pago %}
			<a class="mr-1 text-decoration-none" href="{% url 'accounting:pago-detail' object.pk %}">
			  <i class="far fa-eye"></i>
			</a>
		      {% endif %}
		      {% if perms.accounting.change_pago %}
			<a class="mr-1 text-decoration-none" href="{% url 'accounting:pago-update' object.pk %}">
			  <i class="fas fa-wrench"></i>
			</a>
		      {% endif %}
		      {% if perms.accounting.delete_pago %}
			<a class="text-decoration-none" href="{% url 'accounting:pago-delete' object.pk %}">
			  <i class="fas fa-trash"></i>
			</a>
		      {% endif %}
		    </td>
		  {% endif %}
		</tr>
		{% empty %}
		<tr>
		  <td colspan=6>Sin resultados</td>
		</tr>
	      {% endfor %}
	    </tbody>
	  </table>
	  {% include 'components/pagination.html' %}
	</div>
      </div>
    </div>
  </div>

{% endblock %}
