{% extends 'base.html' %}
{% load static crispy_forms_tags commontags %}
{% block title %}Detalle de Fondo | Liqueed{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between">
      <h1 class="h3 text-gray-800">Factura de Fondo</h1>
      {% if perms.core.list_factura %}
	<a href="{% url 'core:factura-list' %}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm mb-2">
	  <i class="fas fa-bars fa-sm text-white-50"></i> Volver al listado
	</a>
      {% endif %}
    </div>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">
	  Detalle de fondo. Facturación Nro. {{ object.numero|default:"SN" }} - Cliente: {{ object.cliente.razon_social }}
	</h6>
      </div>
      <div class="card-body">
	<div class="table-responsive">
	  <dl class="row">
	    <dt class="col-sm-2">Fecha</dt>
	    <dd class="col-sm-10">{{ object.fecha }}</dd>
	    <dt class="col-sm-2">Número de factura</dt>
	    <dd class="col-sm-10">{% if object.numero %}{{ object.numero }}{% else %}-{% endif %}</dd>
	    <dt class="col-sm-2">Tipo</dt>
	    <dd class="col-sm-10">{{ object.get_tipo }}</dd>
	    <dt class="col-sm-2">Cliente</dt>
	    <dd class="col-sm-10">{{ object.cliente }}</dd>
	    <dt class="col-sm-2">Factura proveedores</dt>
	    {% if object.facturaproveedor_set.all|length %}
	      {% for item in object.facturaproveedor_set.all %}
		{% if forloop.counter != 1  %}
		  <dt class="col-sm-2"><dt>
		{% endif %}
		<dd class="col-sm-10">{{ item }} <a class="btn btn-light btn-xs" target="_blank" href="{% url 'core:facturaproveedor-detail' item.pk %}"><i class="far fa-eye"></i></a></dd>
	      {% endfor %}
	    {% else %}
	      <dd class="col-sm-10">-</dd>
	    {% endif %}
	    <dt class="col-sm-2">Detalle</dt>
	    <dd class="col-sm-10">{% if object.detalle %}{{ object.detalle }}{% else %}-{% endif %}</dd>
	    <dt class="col-sm-2">Neto</dt>
	    <dd class="col-sm-10">{{ object.get_moneda_display }} {{ object.neto }}</dd>
	    <dt class="col-sm-2">IVA %</dt>
	    <dd class="col-sm-10">{{ object.iva }}</dd>
	    <dt class="col-sm-2">Monto Imputado</dt>
	    <dd class="col-sm-10">{{ object.monto_imputado }}</dd>
	    <dt class="col-sm-2">Total</dt>
	    <dd class="col-sm-10">{{ object.get_moneda_display }} {{ object.total }}</dd>
	    <dt class="col-sm-2">Cobrado</dt>
	    <dd class="col-sm-10">{% if object.cobrado %}<i class="fas fa-check-square text-success"></i>{% else %}<i class="fas fa-minus-square"></i>{% endif %}</dd>
	    <dt class="col-sm-2">Archivos</dt>
	    {% if object.archivos.all|length %}
	      {% for archivo in object.archivos.all %}
		<div class="col-3 mt-1">
		  {{ archivo.documento|filename }}
		</div>
		<div class="col-7">
		  <a class="btn btn-light btn-sm" target="_blank" href="{{ archivo.documento.url }}"><i class="far fa-eye"></i></a>
		</div>
		<dt class="col-sm-2"></dt>
	      {% endfor %}
	    {% else %}
	      <dd class="col-sm-10">-</dd>
	    {% endif %}
	  </dl>
	  {% if perms.core.list_factura %}
	    <a href="{% url 'core:factura-list' %}" class="btn btn-primary float-right">Volver</a>
	  {% endif %}
	</div>
      </div>
    </div>
  </div>
{% endblock %}
