{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}
    {% if object.pk %}Editar Usuario #{{ object.pk }}{% else %}Agregar Usuario{% endif %} | Liqueed
{% endblock %}
{% block content %}
<div class="container-fluid">
    {% if object.pk %}
      <h1 class="h3 text-gray-800">Editar Usuario #{{ object.pk }}</h1>
    {% else %}
      <h1 class="h3 text-gray-800">Agregar Usuario</h1>
    {% endif %}
    <hr class="sidebar-divider">

    {% crispy form %}
</div>
{% endblock %}
