{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}Detalle del Usuario {{ object.username }} | Liqueed{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Detalle del Usuario {{ object.username }}</h1>
    <hr class="sidebar-divider">

    <dl class="row">
      <dt class="col-sm-2">Nombre</dt>
      <dd class="col-sm-10">{{ object.first_name }}</dd>
      <dt class="col-sm-2">Apellido</dt>
      <dd class="col-sm-10">{{ object.last_name }}</dd>
      <dt class="col-sm-2">Usuario</dt>
      <dd class="col-sm-10">{{ object.username }}</dd>
      <dt class="col-sm-2">Permisos</dt>
      {% if object.groups.all|length %}
        {% for group in object.groups.all %}
          <dd class="col-sm-10">{{ group }}</dd>
          <dt class="col-sm-2"></dt>
        {% endfor %}
      {% else %}
        <dd class="col-sm-10">-</dd>
      {% endif %}
    </dl>
</dl>

<a href="{% url 'permission:user-list' %}" class="btn btn-primary float-right">Volver</a>

</div>

{% endblock %}
