{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}
    {% if not object.pk %}Agregar Usuario {% else %}Editar Usuario #{{ object.pk }}{% endif %} | Liqueed
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h1 class="h3 text-gray-800">Permisos</h1>
    {% include 'components/messages.html' %}

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
          {% if not object.pk %}
            Agregar usuario
          {% else %}
            Editar Usuario #{{ object.pk }}
          {% endif %}
        </h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          {% crispy form %}
        </div>
      </div>
    </div>

  </div>
{% endblock %}
