{% extends 'base.html' %}
{% load static %}
{% block title %}Contrato | Liqueed{% endblock %}
{% block content %}
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Contrato</h1>
    </div>

    {% include 'components/messages.html' %}

    <!-- Cards -->
      <div class="row">

	<div class="col-xl-3 col-md-6 mb-4">
	  <div class="card border-left-primary shadow h-100 py-2">
	    <div class="card-body">
	      <div class="row no-gutters align-items-center">
		<div class="col mr-2">
		  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Cantidad contratos</div>
		  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ page_obj.paginator.count }}</div>
		</div>
		<div class="col-auto">
		  <i class="fas fa-list fa-2x text-gray-300"></i>
		</div>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="col-xl-3 col-md-6 mb-4">
	  <div class="card border-left-success shadow h-100 py-2">
	    <div class="card-body" role="button">
	      <div class="row no-gutters align-items-center">
		<div class="col mr-2">
		  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Nuevos (semanal)</div>
		  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ last_created }}</div>
		</div>
		<div class="col-auto">
		  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
		</div>
	      </div>
	    </div>
	  </div>
	</div>

      </div>
    <!-- End Cards -->

    <div class="card shadow mb-4">
      <div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">Listado de contratos</h6>
      </div>
      <div class="card-body">
	<div class="table-responsive">
	  <div class="row float-right">
	    {% include 'components/date_range_filter.html' %}
	    {% include 'components/search_form.html' %}
	    {% if perms.core.add_contrato %}
	      <div class="btn-group btn-group-sm mb-2" role="group" aria-label="Third group">
		<a class="btn btn-primary" role="button" href="{% url 'core:contrato-create' %}">Agregar</a>
	      </div>
	    {% endif %}
	  </div>

	  <table class="table table-bordered table-hover" width="100%" cellspacing="0">
	    <thead>
	      <tr>
		<th>ID</th>
		<th data-order="fecha_desde" class="sortable">Fecha desde</th>
		<th data-order="fecha_hasta" class="sortable">Fecha hasta</th>
		<th data-order="cliente__razon_social" class="sortable">Cliente</th>
		<th data-order="cliente__cuit" class="sortable">CUIT</th>
		<th data-order="monto" class="sortable">Monto</th>
		<th data-order="creado" class="sortable">Creado</th>
		{% if perms.core.change_contrato or perms.core.delete_contrato %}
		  <th></th>
		{% endif %}
	      </tr>
	    </thead>
	    <tbody>
	      {% for object in object_list %}
		<tr>
		  <td>
		    <a {% if perms.core.view_contrato %}href="{% url 'core:contrato-detail' object.pk %}"{% endif %}>
		      {{ object.pk }}
		    </a>
		  </td>
		  <td>{{ object.fecha_desde }}</td>
		  <td>{{ object.fecha_hasta }}</td>
		  <td>{{ object.cliente.razon_social }}</td>
		  <td>{{ object.cliente.cuit }}</td>
		  <td><div class="float-right">{{ object.moneda_monto }}</div></td>
		  <td>{{ object.creado|date:"d-m-Y" }}</div></td>
		  {% if perms.core.view_contrato or perms.core.change_contrato or perms.core.delete_contrato %}
		    <td class="text-center">
		      {% if perms.core.view_contrato %}
			<a class="mr-1 text-decoration-none" href="{% url 'core:contrato-detail' object.pk %}">
			  <i class="far fa-eye"></i>
			</a>
		      {% endif %}
		      {% if perms.core.change_contrato %}
			<a class="mr-1 text-decoration-none" href="{% url 'core:contrato-update' object.pk %}">
			  <i class="fas fa-wrench"></i>
			</a>
		      {% endif %}
		      {% if perms.core.delete_contrato %}
			<a class="text-decoration-none" href="{% url 'core:contrato-delete' object.pk %}">
			  <i class="fas fa-trash"></i>
			</a>
		      {% endif %}
		    </td>
		  {% endif %}
		</tr>
		{% empty %}
		<tr>
		  <td colspan="8">Sin resultados</td>
		</tr>
	      {% endfor %}
	    </tbody>
	  </table>
	  {% include 'components/pagination.html' %}
	</div>
      </div>
    </div>
  </div>
<script src="{% static 'js/tableSort.js' %}"></script>
{% endblock %}
