{% extends 'base.html' %}
{% load static %}
{% block title %}Reporte de ventas | Liqueed{% endblock %}
{% block header %}
    <link href="{% static 'css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Reporte de ventas</h1>
      <a href="{% url 'core:facturaproveedor-report' %}?formato=xls" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
	<i class="fas fa-file-excel fa-sm text-white-50"></i> Exportar
      </a>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">Listado de reportes</h6>
      </div>
      <div class="card-body">
	<div class="table-responsive">
	  <table class="table table-bordered table-hover" width="100%" cellspacing="0">
	    <thead>
	      <tr>
		<th>Factura venta (cliente)</th>
		<th>Factura compra (proveedor)</th>
		<th>Monto venta</th>
		<th>Monto compra</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for object in object_list %}
		<tr>
		  <td>
		    {{ object.fecha }} - {{ object.cliente.razon_social }}
		  </td>
		  {% for factura_proveedor in object.facturas_proveedor.all %}
		    {% if forloop.counter != 1 %}
		      <tr>
			<td></td>
		    {% endif %}
		      <td>
			{{ factura_proveedor.fecha }} - {{ factura_proveedor.proveedor.razon_social }}
		      </td>
		      {% if forloop.counter != 1 %}
			<td></td>
		      {% else %}
			<td>
			  {{ object.moneda_monto }}
			</td>
		    {% endif %}
		      <td>
			{{ factura_proveedor.moneda_monto }}
		      </td>
		      {% if forloop.counter != 1 %}
			</tr>
		      {% endif %}
		    {% endfor %}
		</tr>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
  </div>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %}
{% block extra_js %}
    $('.table').DataTable({
	language: {
	    url: '{% static "js/dataTables.spanish.json" %}'
	},
	aaSorting: [],
    });
{% endblock %}
