{% extends 'base.html' %}
{% load static %}
{% block title %} Mis facturas pendientes | Liqueed {% endblock %}

{% block content %}
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">¿Qué tengo que facturar?</h1>
    </div>
    {% include 'components/messages.html' %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">Listado de facturas a pendientes</h6>
      </div>
      <div class="card-body">
	<div class="table-responsive">
	  <table class="table table-bordered table-hover" width="100%" cellspacing="0">
	    <thead>
	      <tr>
		<th data-order="factura_distribucion__factura__numero" class="sortable">Número</th>
		<th data-order="factura_distribucion__factura__cliente__razon_social" class="sortable">Cliente</th>
		<th>Detalle</th>
		<th data-order="monto" class="sortable">Monto</th>
		{% if perms.core.change_facturaproveedor or perms.core.delete_facturaproveedor or perms.core.view_mis_facturasproveedor %}
		  <th></th>
		{% endif %}
	      </tr>
	    </thead>
	    <tbody>
	      {% for object in object_list %}
		<tr>
		  <td>
		      <a {% if perms.core.view_factura %}href="{% url 'core:factura-detail' object.factura_distribucion.factura.pk %}"{% endif %}>
			{{ object.factura_distribucion.factura.numero }}
		      </a>
		  </td>
		  <td>{{ object.factura_distribucion.factura.cliente.razon_social }}</td>
		  <td>{{ object.factura_distribucion.factura.detalle }}</td>
		  <td><div class="float-right">{{ object.moneda_monto }}</div></td>
		  {% if not 'facturaproveedor-list-by-user' == request.resolver_match.url_name %}
		     <td class="text-center">
			{% if perms.core.add_facturaproveedor %}
			  <a class="mr-1 text-decoration-none"
			     href="{% url 'core:facturaproveedor-create' %}?distribucion_proveedor={{ object.pk }}&proveedor_id={{ object.proveedor.pk }}&factura_id={{ object.factura_distribucion.factura.pk }}&neto={{ object.monto }}"
			  >
			    <i class="fa fa-plus-circle" aria-hidden="true"></i>
			  </a>
			{% endif %}
		      </td>
		   {% else %}
		      <td class="text-center"></td>
		   {% endif %}
		</tr>
		{% empty %}
		<tr>
		  <td colspan="9">No hay facturas pendientes</td>
		</tr>
	      {% endfor %}
	    </tbody>
	  </table>
	  {% include 'components/pagination.html' %}
	</div>
      </div>
    </div>
  </div>
<script src="{% static 'js/tableSort.js' %}"></script>
{% endblock %}
