{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}
  {% if object.pk %}
    Editar facturación Nro. {{ object.numero|default:"SN" }} - Cliente: {{ object.cliente.razon_social }}
  {% else %}
    Agregar facturación de Cliente
  {% endif %} | Liqueed{% endblock %}
{% block content %}
{% block header %}
  <script src="{% static 'vendor/validate/jquery.validate.js' %}"></script>
  <script src="{% static 'vendor/validate/messages_es.js' %}"></script>
  <script src="{% static 'js/select2_placeholder.js' %}"></script>
{% endblock %}
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between">
      <h1 class="h3 text-gray-800">Facturación a Clientes</h1>
      {% if perms.core.list_factura %}
	<a href="{% url 'core:factura-list' %}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm mb-2">
	  <i class="fas fa-bars fa-sm text-white-50"></i> Volver al listado
	</a>
      {% endif %}
    </div>
    {% include 'components/messages.html' %}

    <div class="card shadow mb-4">
      <div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">
	  {% if not object.pk %}
	    Agregar facturación a Cliente
	  {% else %}
	    Editar facturación Nro. {{ object.numero|default:"SN" }} - Cliente: {{ object.cliente.razon_social}}
	  {% endif %}
	</h6>
      </div>
      <div class="card-body">
	<div class="table-responsive">
	    {% crispy form %}
	    <input id="id_factura" type="hidden" value="{{ object.id }}">
	</div>
      </div>
    </div>

  </div>
{% endblock %}

{% block extra_js %}
var permAddArchivos = '{{ perms.core.change_archivos_factura }}';
var totalImpuestos = 0;

if (permAddArchivos !== 'True'){
    $('input[name="archivos"]').prop('disabled', true);
}

$('#id_fecha').datepicker({format: 'dd/mm/yyyy', language: 'es', todayHighlight: true});
$('#id_fecha_estimada_pago').datepicker({format: 'dd/mm/yyyy', language: 'es', todayHighlight: true});
$('#id_cliente').select2({
    searchInputPlaceholder: 'Buscar por razón social o cuit',
    allowClear: true,
    language: 'es'
});
$('#id_cliente').change(function(){
    displayInfoCliente();
});

$('#id_contrato').change(function(){
    var idContrato = $('#id_contrato').val();
    $.get(`/api/contrato/${idContrato}/`, function(data) {
	$('#id_categoria').val(data.categoria);
    });
});


$('.add_impuestos').click(function(e){
    e.preventDefault();
    let cloneImpuesto = $('.group-impuestos:first').clone(); // Clono al primer wrapper impuesto
    let countImpuestos = $('.group-impuestos').length;
    let cloneIdImpuesto = countImpuestos + 1; // Id del proximo elemento clonado
    if (!validateForm()){return;}

    // attributes
    cloneImpuesto.removeAttr('data-id');
    cloneImpuesto.attr('data-action', 'add');
    // detalle
    cloneImpuesto.find('.input-detalle').attr('name', `detalle_${cloneIdImpuesto}`);
    cloneImpuesto.find('.input-detalle').val('');
    // monto
    cloneImpuesto.find('.numberinput').val('0.0');
    cloneImpuesto.find('.numberinput').attr('name', `monto_${cloneIdImpuesto}`);
    $(`.wrapper-impuestos`).append(cloneImpuesto);
});


$('.wrapper-impuestos').on('change keyup', function(e){
    getImpuestos();
});

function displayInfoCliente(){
    var idCliente = $('#id_cliente').val();
    if(idCliente !== ''){
	$.get("/api/cliente/" + idCliente + "/", function(obj) {
	    let correo = (obj.correo) ? obj.correo : '-';
	    let telefono = (obj.telefono) ? obj.telefono : '-';
	    let dirreccion = (obj.calle) ? `${obj.calle} ${obj.numero} ${obj.piso}` : '-';
	    var data = `<div style=" margin-top: 10px; margin-bottom: 20px; margin-left: 12px;" class="card col-11 col-lg-6">`;
	    data += `<div class="card-body"><h5 class="card-title">${obj.razon_social}</h5>`;
	    data += `<dl><dt class="col-sm-2">CUIT</dt><dd class="col-sm-10">${obj.cuit}</dd>`;
	    data += `<dt class="col-sm-3">Correo</dt><dd class="col-sm-10">${correo}</dd>`;
	    data += `<dt class="col-sm-3">Teléfono</dt><dd class="col-sm-10">${telefono}</dd>`;
	    data += `<dt class="col-sm-3">Dirección</dt><dd class="col-sm-10">${dirreccion}</dd>`;
	    if (obj.localidad !== null){
		data += `<dt class="col-sm-2"></dt><dd class="col-sm-10">`;
		data += `${obj.localidad.nombre} ${obj.distrito.nombre} ${obj.provincia.nombre}</dd>`;
	    }
	    data += `</dl></div></div>`;
	    $('#info_cliente').html(data);
	});
    } else {
	$('#info_cliente').html('');
    }
}
displayInfoCliente();

// Handler archivos de facturas
var idFactura = $("#id_factura").val();
if (idFactura) {
    var adjuntos = $("#adjuntos");
    $.get(`/api/factura/${idFactura}/`, function(data) {
	$.each(data.impuestos, function(index, item) {
	    index = index + 1;
	    if (index === 1){
		$('.group-impuestos:first').find('.input-detalle').val(item.detalle);
		$('.group-impuestos:first').find('.input-detalle').after('<button class="btn btn-danger btn-xs btn-remove">x</button>');
		$('.group-impuestos:first').find('.numberinput').val(item.monto);
		$('.group-impuestos:first').attr('data-id', item.id);
		$('.group-impuestos:first').attr('data-action', 'update');
	    } else {
		let cloneImpuesto = $('.group-impuestos:first').clone(); // Clono al primer wrapper impuesto
		// detalle
		cloneImpuesto.attr('data-id', item.id);
		cloneImpuesto.find('.input-detalle').attr('name', `detalle_${index}`);
		cloneImpuesto.find('.input-detalle').val(item.detalle);
		// monto
		cloneImpuesto.find('.numberinput').val(item.monto);
		cloneImpuesto.find('.numberinput').attr('name', `monto_${index}`);
		$(`.wrapper-impuestos`).append(cloneImpuesto);
	    }
	});
	$.each(data.archivos, function(index, item) {
	    var filename = item.documento.split(/[\\\/]/).pop();
	    var itemHtml = `<div class="col-6 mt-2">${filename}</div>`;
	    itemHtml += `<div class="col-2">`
	    itemHtml += `<a class="btn btn-light btn-sm mt-2" target="_blank" href="${item.documento}"><i class="far fa-eye"></i></a>`
	    itemHtml += `<a class="btn btn-danger btn-sm ml-2 mt-2 remove_document" id="${item.id}" href="javascript:void(0);"><i class="far fa-trash-alt"></i></a></div>`;
	    adjuntos.append(itemHtml);
	});
    });

    $(adjuntos).on("click",".remove_document", function(e){
    e.preventDefault();

    var element = $(this).parent("div");
	$.ajax({
	    url: `/api/archivo/${this.id}/`,
	    type: 'DELETE',
	    beforeSend: function (xhr) {
		xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
	    },
	    success: function(result) {
	element.prev().remove()
	element.remove();
	    }
	});
    });
}

// Handler total
$('#id_neto').keyup(function(){
    getTotal();
});

$('#id_iva').change(function(){
    getTotal();
});


$('#id_tipo').change(function(){
    let tipo = $(this).val();
    if (tipo === 'C'){
	$('#id_iva').val(0);
    }
    getTotal();
});


$('.wrapper-impuestos').on("click",".btn-remove", function(e){
    e.preventDefault();
    $(this).closest(".group-impuestos").addClass('d-none');
    if ($(this).closest(".group-impuestos").attr('data-id')){
	$(this).closest(".group-impuestos").attr('data-action', 'delete');
    }
    getImpuestos();
    getTotal();
});

function getTotal(){
    let neto = parseFloat($('#id_neto').val());
    let iva = parseInt($('#id_iva').val());
    let total = parseFloat(neto + (iva / 100) * neto).toFixed(2);
    if (!isNaN(totalImpuestos)){
	total -= totalImpuestos;
    }
    if (totalImpuestos > total){
	$('.alert-errors').children('p').remove();
	$('.alert-errors').removeClass('d-none');
	$('.alert-errors').append('<p class="m-0">El total de impuestos no puede ser mayor al total.</p>');
    } else {
	$('.alert-errors').addClass('d-none');
    }
    $('#id_total').val(total);
}

function getImpuestos(){
    let impuestos = []
    totalImpuestos = 0;
    $('.group-impuestos').each(function(e){
	let monto = parseFloat($(this).find('.input-monto').val());
	if ($(this).attr('data-action') !== 'delete'){
	    totalImpuestos += monto;
	}
	impuestos.push({
	    'id': $(this).attr('data-id'),
	    'detalle': $(this).find('.input-detalle').val(),
	    'monto': monto,
	    'action': $(this).attr('data-action'),
	});
    });
    $('#impuestos').val(JSON.stringify(impuestos));
    getTotal();
}


function validateForm(){
    var validator = $('form').validate({
	lang: 'es',
    });

    // Validaciones dinamicas
    $('[name*="monto"]').not('[name="monto_imputado"]').each(function () {
	$(this).rules('add', {
	    required: true,
	    notEqual: '0.0',
	});
    });


    $('[name*="detalle"]').not('#id_detalle').each(function () {
	$(this).rules('add', {
	    required: true,
	    notEqual: '',
	});
    });

    // Metodos
    jQuery.validator.addMethod("notEqual", function(value, element, param) {
	this.optional(element)
	return this.optional(element) || value !== param;
    }, "Este campo es obligatorio.");

    let result = $("form").valid()

    return result;

}
{% endblock %}
