{% extends 'base.html' %}
{% load static %}
{% block title %}Imputaciones | Liqueed{% endblock %}
{% block content %}
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Imputaciones a Facturas de Proveedor</h1>
    </div>
    {% include 'components/messages.html' %}

    <div class="alert alert-success alert-dismissible fade show {% if not request.GET.create %}d-none{% endif %}" role="alert">
     {% if request.GET.create %}La imputación ha sido creada exitosamente.{% endif %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">×</span>
      </button>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">Listado de Imputaciones</h6>
      </div>
      <div class="card-body">
	<div class="table-responsive">
	  <div class="row float-right">
	    {% include 'components/date_range_filter.html' %}
	    {% include 'components/search_form.html' %}
	    {% if perms.core.add_facturaproveedorimputada %}
	      <div class="btn-group btn-group-sm mb-2" role="group" aria-label="Third group">
		<a class="btn btn-primary" role="button" href="{% url 'core:facturaproveedorimputada-create' %}">Agregar</a>
	      </div>
	    {% endif %}
	  </div>
	  <table class="table table-bordered table-hover table-sortable" cellspacing="0" width="100%">
	    <thead>
	      <tr>
		<th data-order="factura__fecha" class="sortable">Fecha imputación</th>
		<th data-order="factura__numero" class="sortable">Factura imputada</th>
		<th data-order="facura__proveedor" class="sortable">Proveedor</th>
		<th></th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for object in object_list %}
		<tr>
		  <td>{{ object.fecha|date:"d-m-Y" }}</td>
		  <td><a href="{% url 'core:facturaproveedorimputada-detail' object.pk %}">{{ object.nota_de_credito.numero }}</a></td>
		  <td>{{ object.proveedor.razon_social }}</td>
		  <td class="text-center">
		    <a class="mr-1 text-decoration-none" href="{% url 'core:facturaproveedorimputada-detail' object.pk %}">
		      <i class="far fa-eye"></i>
		    </a>
		    <a class="mr-1 text-decoration-none" href="{% url 'core:facturaproveedorimputada-update' object.pk %}">
		      <i class="fas fa-wrench"></i>
		    </a>
		    <a class="mr-1 text-decoration-none" href="{% url 'core:facturaproveedorimputada-delete' object.pk %}">
		      <i class="fas fa-trash"></i>
		    </a>
		  </td>
		</tr>
		{% empty %}
		<tr>
		  <td colspan="8">Sin resultados</td>
		</tr>
	      {% endfor %}
	    </tbody>
	  </table>
	  {% include 'components/pagination.html' %}
	</div>
      </div>
    </div>
  </div>
<script src="{% static 'js/tableSort.js' %}"></script>
{% endblock %}
