{% extends 'base.html' %}
{% load static %}
{% block title %}Medios de pago | Liqueed{% endblock %}
{% block header %}
    <link href="{% static 'css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Medios de pago</h1>
    </div>
    {% include 'components/messages.html' %}

    <!-- Cards -->
      <div class="row">

	<div class="col-xl-3 col-md-6 mb-4">
	  <div class="card border-left-primary shadow h-100 py-2">
	    <div class="card-body">
	      <div class="row no-gutters align-items-center">
		<div class="col mr-2">
		  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Cantidad Medios de pago</div>
		  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ count }}</div>
		</div>
		<div class="col-auto">
		  <i class="fas fa-list fa-2x text-gray-300"></i>
		</div>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="col-xl-3 col-md-6 mb-4">
	  <div class="card border-left-success shadow h-100 py-2">
	    <div class="card-body" role="button">
	      <div class="row no-gutters align-items-center">
		<div class="col mr-2">
		  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Nuevos (semanal)</div>
		  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ last_created }}</div>
		</div>
		<div class="col-auto">
		  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
		</div>
	      </div>
	    </div>
	  </div>
	</div>

      </div>
    <!-- End Cards -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">Listado de Medios de pago</h6>
      </div>
      <div class="card-body">
	<div class="table-responsive">
	  <div class="ml-1 float-right">
	    {% if perms.core.add_mediopago %}
	      <div class="btn-group btn-group-sm mb-2" role="group" aria-label="Third group">
		<a class="btn btn-primary" role="button" href="{% url 'core:mediopago-create' %}">Agregar</a>
	      </div>
	    {% endif %}

	  </div>
	  <table class="table table-bordered table-hover" width="100%" cellspacing="0">
	    <thead>
	      <tr>
		<th>Nombre</th>
		<th>Creado</th>
		{% if perms.core.change_mediopago or perms.core.delete_mediopago %}
		  <th></th>
		{% endif %}
	      </tr>
	    </thead>
	    <tbody>
	      {% for object in object_list %}
		<tr>
		  <td>
		    <a {% if perms.core.view_mediopago %}href="{% url 'core:mediopago-detail' object.pk %}"{% endif %}>
		      {{ object.nombre }}
		    </a>
		  </td>
		  <td>{{ object.creado|date:"d-m-Y" }}</td>
		  {% if perms.core.view_mediopago or perms.core.change_mediopago or perms.core.delete_mediopago %}
		    <td class="text-center">
		      {% if perms.core.view_mediopago %}
			<a class="mr-1 text-decoration-none" href="{% url 'core:mediopago-detail' object.pk %}">
			  <i class="far fa-eye"></i>
			</a>
		      {% endif %}
		      {% if perms.core.change_mediopago %}
			<a class="mr-1 text-decoration-none" href="{% url 'core:mediopago-update' object.pk %}">
			  <i class="fas fa-wrench"></i>
			</a>
		      {% endif %}
		      {% if perms.core.delete_mediopago %}
			<a class="text-decoration-none" href="{% url 'core:mediopago-delete' object.pk %}">
			  <i class="fas fa-trash"></i>
			</a>
		      {% endif %}
		    </td>
		  {% endif %}
		</tr>
		{% empty %}
		<tr>
		  <td colspan=5>Sin resultados</td>
		</tr>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
  </div>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %}
{% block extra_js %}
$(document).ready( function () {
    $.extend($.fn.dataTableExt.oSort, {
	"date-uk-pre": function ( a ) {
	    var ukDatea = a.split('-');
	    return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
	},
	"date-uk-asc": function ( a, b ) {
	    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
	},
	"date-uk-desc": function ( a, b ) {
	    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
	}
    } );
    $('.table').DataTable({
	language: {
	    url: '{% static "js/dataTables.spanish.json" %}'
	},
	aaSorting: [],
	columns: [
	    null,
	    { "type": "date-uk" },
	    null
	],
    });
    $('.dataTables_length').addClass('bs-select');
});
{% endblock %}
