{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}Detalle Proveedor #{{ object.pk }} | Liqueed{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between">
      <h1 class="h3 text-gray-800">Proveedores</h1>
      {% if perms.core.list_proveedor %}
        <a href="{% url 'core:proveedor-list' %}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm mb-2">
          <i class="fas fa-bars fa-sm text-white-50"></i> Volver al listado
        </a>
      {% endif %}
    </div>
    {% include 'components/messages.html' %}
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Detalle del Proveedor #{{ object.pk }}</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <dl class="row">
            <dt class="col-sm-2">Raz&oacute;n social</dt>
            <dd class="col-sm-10">{{ object.razon_social}}</dd>
            <dt class="col-sm-2">CUIT</dt>
            <dd class="col-sm-10">{{ object.cuit}}</dd>
            <dt class="col-sm-2">Correo</dt>
            <dd class="col-sm-10"><a href="mailto:{{ object.correo }}">{{ object.correo }}</a></dd>
            <dt class="col-sm-2">Tel&eacute;fono</dt>
            <dd class="col-sm-10">{{ object.telefono}}</dd>
            <dt class="col-sm-2">Direcci&oacute;n</dt>
            <dd class="col-sm-10">{{ object.calle}} {{ object.numero}} {{ object.piso}} {{ object.dpto}}</dd>
            <dt class="col-sm-2"></dt>
            <dd class="col-sm-10">
              {% if object.localidad %}{{ object.localidad}},{% endif %}
              {% if object.distrito %}{{ object.distrito}},{% endif %}
              {% if object.provincia %}{{ object.provincia}}{% endif %}
            </dd>
          </dl>
          <p class="lead">Pagos</p>
          <dl class="row">
            <dt class="col-sm-2">CBU</dt>
            <dd class="col-sm-10">{% if object.cbu %}{{ object.cbu}}{% else %}-{% endif %}</dd>
          </dl>
          {% if perms.core.list_proveedor %}
            <a href="{% url 'core:proveedor-list' %}" class="btn btn-primary float-right">Volver</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
