{% extends 'base.html' %}
{% load static %}
{% block title %}Cobranza a Clientes | Liqueed{% endblock %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Cobranza a Clientes</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3"></div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="row float-right">
                    {% include 'components/search_form.html' %}

                      <div class="btn-group btn-group-sm mb-2" role="group" aria-label="Third group">
                        <a class="btn btn-primary" role="button" href="{% url 'accounting:cobranza-agregar' %}">Agregar</a>
                      </div>

                </div>
                <table class="table table-bordered table-hover" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Raz&oacute;n Social</th>
                        <th>CUIT</th>
                        <th>Total</th>
                        <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td onclick="location.href='{% url 'accounting:cobranza-detalle' object.pk %}';">{{ object.pk }}</td>
                            <td onclick="location.href='{% url 'accounting:cobranza-detalle' object.pk %}';">{{ object.creado }}</td>
                            <td onclick="location.href='{% url 'accounting:cobranza-detalle' object.pk %}';">{{ object.cliente.razon_social }}</td>
                            <td onclick="location.href='{% url 'accounting:cobranza-detalle' object.pk %}';">{{ object.cliente.cuit }}</td>
                            <td onclick="location.href='{% url 'accounting:cobranza-detalle' object.pk %}';">{{ object.total }}</td>
                            <td>
                              <a href="{% url 'accounting:cobranza-modificar' object.pk %}">
                                  <i class="fas fa-wrench"></i>
                              </a>
                              <a href="{% url 'accounting:cobranza-eliminar' object.pk %}">
                                  <i class="fas fa-trash"></i>
                              </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan=6>Sin resultados</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
