{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}Clientes - Liqueed{% endblock %}
{% block header %}
    <script src="{% static 'vendor/validate/jquery.validate.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800">Cobranza Cliente</h1>
  <form id="cobranza-form">
    <fieldset>
      <legend>Datos</legend>

      <!-- Client -->
      <div class="row">
        <div class="col-5">
          <div id="div_id_cliente" class="form-group">
            <label for="id_cliente" class=" requiredField">
              Cliente<span class="asteriskField">*</span>
            </label>
            <div class="">
              <select name="cliente" required="" id="id_cliente" class="select form-control">
                <option value="" >---------</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="info_cliente">
      </div>
      <!--//End Cliente -->

      <!-- Factura -->
      <div class="card p-4 facturas" style="width: 38rem;">
        <div class="row">

          <!-- Factura Cliente -->
          <div class="col-12">
            <div id="div_id_factura" class="form-group">
              <label for="id_factura" class=" requiredField">
                Factura<span class="asteriskField">*</span>
              </label>
              <div class="">
                <select name="factura" class="select form-control" required="" id="id_factura">
                  <option value="" selected="">---------</option>
                </select>
              </div>
            </div>
          </div>
          <!--//End Factura Cliente -->

          <!-- Metodo y Monto -->
          <div class="col-11 wrapper-metodo">
            <div class="row pagos">
              <!-- Metodo -->
              <div class="col-6">
                <div id="div_id_metodo" class="form-group">
                  <label for="id_metodo" class=" requiredField">
                    Metodo<span class="asteriskField">*</span>
                  </label>
                  <div class="selector">
                    <select name="metodo" class="select form-control" required="" id="id_metodo">
                      <option value="">---------</option>
                    </select>
                  </div>
                </div>
              </div>
              <!--//End Metodo -->
              <!-- Monto -->
              <div class="col-6">
                <div id="div_id_monto" class="form-group">
                  <label for="id_monto" class=" requiredField">
                    Monto<span class="asteriskField">*</span>
                  </label>
                  <div class="">
                    <input type="number" name="monto" value="0.0" step="0.01" class="numberinput form-control" required="" id="id_monto">
                  </div>
                </div>
              </div>
              <!--//Monto -->
            </div>
          </div>
          <!-- End metodo y monto -->

          <!-- Agrega monto -->
          <div class="col-1 pl-0">
            <div class="form-group">
              <label></label>
              <div>
                <button id="add_metodo" class="btn btn-success btn-xs mt-3 d-none"><i class="fas fa-plus-circle"></i></button>
              </div>
            </div>
          </div>
          <!-- //Agrega monto -->

          <!-- Ganancias, ingresos e IVA -->
          <div class="col-4">
            <div id="div_id_ganancias" class="form-group">
              <label for="id_ganancias" class="requiredField"> Ganancias<span class="asteriskField">*</span> </label>
              <div class=""><input type="number" name="ganancias" value="0.0" step="0.01" class="numberinput form-control" required="" id="id_ganancias" /></div>
            </div>
          </div>
          <div class="col-4">
            <div id="div_id_ingresos_brutos" class="form-group">
              <label for="id_ingresos_brutos" class="requiredField"> Ingresos brutos<span class="asteriskField">*</span> </label>
              <div class=""><input type="number" name="ingresos_brutos" value="0.0" step="0.01" class="numberinput form-control" required="" id="id_ingresos_brutos" /></div>
            </div>
          </div>
          <div class="col-4">
            <div id="div_id_iva" class="form-group">
              <label for="id_iva" class="requiredField"> Iva<span class="asteriskField">*</span> </label>
              <div class=""><input type="number" name="iva" value="0.0" step="0.01" class="numberinput form-control" required="" id="id_iva" /></div>
            </div>
          </div>
          <!-- //End Ganancias, ingresos e IVA -->

        </div>
      </div>
      <!--//End Factura -->

      <!-- Total -->
      <div class="row mt-2">
        <div class="col-4">
          <div id="div_id_total" class="form-group">
            <label for="id_total" class="requiredField"> Total<span class="asteriskField">*</span> </label>
            <div class=""><input type="number" name="total" value="0.0" step="0.01" class="numberinput form-control" required="" id="id_total" /></div>
          </div>
        </div>
      </div>
      <!--//End Total -->

    </fieldset>

    <div class="form-group">
      <div class="">
        <input type="submit" name="submit" value="Guardar" class="btn btn-primary float-right" id="submit-id-submit" />
        <input type="reset" name="reset" value="Limpiar" class="btn btn-inverse float-right" id="reset-id-reset" />
      </div>
    </div>

  </form>
</div>
{% endblock %}
{% block extra_js %}
// Cliente
let cliente;
$('#id_cliente').select2({
    ajax: {
        url: '/api/cliente/',
        processResults: function (response) {
            var data = $.map(response, function (obj) {
                obj.id = obj.id;
                obj.text = `${obj.razon_social} - CUIT ${obj.cuit}`;
                return obj;
            });
            return {
                results: data
            };
        },
        cache: true
    }
}).on('change', function(e) {
    var obj = $("#id_cliente").select2("data")[0];
    cliente = {
      "razon_social": obj.razon_social,
      "cuit": obj.cuit,
      "correo": obj.correo,
      "telefono": obj.telefono
    };
});
// TODO: mostrar datos de cliente

// Factura
$('#id_factura').select2({
    ajax: {
        beforeSend: function(jqXHR, settings) {
            let idCliente = $('#id_cliente').find(":selected").val();
            settings.url = '/api/factura?cobrado=0&cliente=' + idCliente;
        },
        url: '/api/factura/',
        processResults: function (response) {
            let data = $.map(response, function (obj) {
                obj.id = obj.id;
                obj.text = `${obj.fecha} - ${obj.cliente.razon_social} - $${obj.total}`;
                return obj;
            });
            return {
                results: data
            };
        },
        cache: true
    }
});

// Total
$('#id_factura').change(function(){
    let selected = $(this).find(':selected').text();
    $('#id_total').val(selected.split('$')[1]);
});

// Metodo de pago
let wrapperMetodo = $(".wrapper-metodo");
$('#id_metodo').click(function(){
    if ($(this).children().length == 1){
        displayMetodoPagoData();
        $('#add_metodo').removeClass('d-none');
    }
});

function displayMetodoPagoData(){
    $.ajax({
        url: '/api/mediopago/',
        success: function (response) {
            var data = $.map(response, function (obj) {
                obj.id = obj.id;
                obj.text = obj.nombre
                return obj;
            });
            $.each(data, function(key, value) {
                $('#id_metodo').append($("<option></option>")
                                       .attr("value", value['id'])
                                       .text(value['nombre']));
            });
        }
    });
}

$("#add_metodo").click(function(e){
    e.preventDefault();
    let htmlFormCobranza = $(".wrapper-metodo .row:first").clone();
    htmlFormCobranza.find('#id_monto').val('0.0');
    htmlFormCobranza.find("select").after('<button class="btn btn-danger btn-xs btn-remove">x</button>');
    $(".wrapper-metodo").append(htmlFormCobranza);
});

// Guardar
$('#submit-id-submit').click(function(e){
    e.preventDefault();
    // Validaciones
    // TODO: agregar validaciones
    // $("#cobranza-form").validate();
    let total = $('input[name=total]').val();
    let facturas = [];

    $('.facturas').each(function(){
        let factura = $(this).find('select[name=factura]').val();
        let ganancias = $(this).find('input[name=ganancias]').val();
        let ingresos_brutos = $(this).find('input[name=ingresos_brutos]').val();
        let iva = $(this).find('input[name=iva]').val();
        let pagos = [];
        $(this).find('.pagos').each(function(e){
            pagos.push({
                'metodo': $(this).find('[name=metodo]').val(),
                'monto': $(this).find('[name=monto]').val()
            });
        });
        facturas.push({
            'factura': parseInt(factura),
            'ganancias': ganancias,
            'ingresos_brutos': ingresos_brutos,
            'iva': iva,
            'cobranza_factura_pagos': pagos
        });
    });

    let formCobranzaData = {
        'total': parseInt(total),
        'cobranza_facturas': facturas
    };
    formCobranzaData['cliente'] = cliente;

    $.ajax({
        type        : 'POST',
        url         : '/api/cobranza/',
        data        : JSON.stringify(formCobranzaData),
        dataType    : 'json',
        contentType : 'application/json',
        encode      : true,
        beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        }
    }).done(function(data) {
        console.log(data);
    });

});

{% endblock %}
