{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}Editar Pago #{{ pk }} | Liqueed{% endblock %}
{% block header %}
  <script src="{% static 'vendor/validate/jquery.validate.js' %}"></script>
  <script src="{% static 'vendor/validate/messages_es.js' %}"></script>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between">
      <h1 class="h3 text-gray-800">Pagos a Proveedores</h1>
      {% if perms.accounting.list_pago %}
        <a href="{% url 'accounting:pago-list' %}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm mb-2">
          <i class="fas fa-bars fa-sm text-white-50"></i> Volver al listado
        </a>
      {% endif %}
    </div>

    <div class="alert alert-success alert-dismissible fade show {% if not request.GET.create and not request.GET.update %}d-none{% endif %}" role="alert">
      {% if request.GET.create %}El pago ha sido creado exitosamente.{% endif %}
      {% if request.GET.update %}El pago ha sido modificado exitosamente.{% endif %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
          Editar pago a Proveedor #{{ pk }}
        </h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">

          <form id="pago-form">
            <fieldset>
              <legend>Datos</legend>
              <!-- Pago -->
              <input id="pago" name="pago" type="hidden" value="{{ pk }}">
              <!-- End Pago -->

              <!-- Fecha -->
              <div class="row">
                <div class="col-4">
                  <div id="div_id_fecha" class="form-group">
                    <label for="id_fecha" class=" requiredField">
                      Fecha<span class="asteriskField">*</span>
                    </label>
                    <div>
                      <input type="text" name="fecha" class="dateinput form-control" required="" id="id_fecha">
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Fecha -->

              <!-- Proveedor -->
              <div class="row">
                <div class="col-5">
                  <div class="form-group">
                    <label class="requiredField">
                      Proveedor<span class="asteriskField">*</span>
                    </label>
                    <div class="">
                      <select class="select form-control" id="proveedor" name="proveedor" disabled required>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" id="info_proveedor">
              </div>
              <!-- End Proveedor -->

              <!-- Factura -->
              <div class="wrapper-factura card p-4 mb-3" id="pago_factura_1" data-id="1" style="width: 38rem;">
                <div class="row">
                  <div class="col-12">
                    <button type="button" class="close d-none" aria-label="Elimar" title="Eliminar">
                      <span class="text-danger">&times;</span>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <!-- Factura Proveedor -->
                  <div class="col-12">
                    <div class="form-group">
                      <label class="requiredField">
                        Factura<span class="asteriskField">*</span>
                      </label>
                      <div class="wrapper-selector-factura">
                        <select class="form-control selector-factura" name="factura_1" required>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- End Factura Proveedor -->

                  <!-- Metodo y Monto -->
                  <div class="col-11 wrapper-pagos">
                    <div class="row group-pagos">
                      <!-- Metodo -->
                      <div class="col-6">
                        <div class="form-group">
                          <label class="requiredField">
                            Metodo<span class="asteriskField">*</span>
                          </label>
                          <div>
                            <select class="selector-metodo form-control" name="metodo_1_1" required>
                              <option value="">---------</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <!-- End Metodo -->
                      <!-- Monto -->
                      <div class="col-6">
                        <div class="form-group">
                          <label class="requiredField">
                            Monto<span class="asteriskField">*</span>
                          </label>
                          <div>
                            <input class="input-monto numberinput form-control" name="monto_1_1" type="number" value="0.0" step="0.01" required>
                          </div>
                        </div>
                      </div>
                      <!-- End Monto -->
                    </div>
                  </div>
                  <!-- End metodo y monto -->

                  <!-- Agrega monto -->
                  <div class="col-1 pl-0">
                    <div class="form-group">
                      <label></label>
                      <div>
                        <button class="add-pago btn btn-success btn-xs mt-3"><i class="fas fa-plus-circle"></i></button>
                      </div>
                    </div>
                  </div>
                  <!-- End Agrega monto -->

                  <!-- Ganancias, ingresos e IVA -->
                  <div class="col-4">
                    <div class="form-group">
                      <label class="requiredField"> Ganancias<span class="asteriskField">*</span> </label>
                      <div><input class="input-ganancias numberinput form-control" name="ganancias_1" type="number" value="0.0" step="0.01" required /></div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label class="requiredField"> Ingresos brutos<span class="asteriskField">*</span> </label>
                      <div><input class="input-ingresos-brutos numberinput form-control" name="ingresos_brutos_1" type="number" value="0.0" step="0.01" required /></div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label class="requiredField"> Iva<span class="asteriskField">*</span> </label>
                      <div><input class="input-iva numberinput form-control" name="iva_1" type="number" value="0.0" step="0.01" required /></div>
                    </div>
                  </div>
                  <!-- End Ganancias, ingresos e IVA -->

                </div>
              </div>
              <!-- End Factura -->

              <!-- Agregar factura -->
              <div class="row">
                <div class="offset-6 col-1">
                  <button class="add-factura btn btn-success btn-xs float-right mr-2"><i class="fas fa-plus-circle"></i></button>
                </div>
              </div>
              <!-- End Agregar factura -->

              <!-- Total -->
              <div class="row wrapper-total mt-2">
                <div class="col-4">
                  <div class="form-group">
                    <label class="requiredField"> Total<span class="asteriskField">*</span> </label>
                    <div><input class="input-total numberinput form-control" type="number" name="total" value="0.0" step="0.01" required/></div>
                  </div>
                </div>
              </div>
              <!-- End Total -->

              <!-- Pagado -->
              <div class="row">
                <div class="col-2">
                  <div class="form-group">
                    <div id="div_id_pagado" class="custom-control custom-checkbox">
                      <input type="checkbox" name="pagado" class="checkbox input custom-control-input" id="id_pagado">
                      <label for="id_pagado" class="custom-control-label">
                        Pagado
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Pagado -->

            </fieldset>

            <div class="form-group">
              <div>
                <input class="btn btn-primary float-right" id="submit-id-submit" type="submit" name="submit" value="Guardar" />
                <a class="btn btn-primary float-right mr-1 text-white" href="{% url 'accounting:pago-generate-pdf' pk %}" target="_blank">
                  <i class="fas fa-file-pdf fa-sm text-white-50"></i> Comprobante
                </a>
                <input class="btn btn-inverse float-right" id="reset-id-reset" type="reset" name="reset" value="Limpiar" />
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_js %}
$('#id_fecha').datepicker({format: 'dd/mm/yyyy', language: 'es', todayHighlight: true});

var proveedor; // global

// Carga datos
$(document).ready(function() {
    let idPago = $('#pago').val();

    $.get(`/api/pago/${idPago}/`, function(response) {
        proveedor = response.proveedor;
        let pagoFacturas = response.pago_facturas

        // fecha
        let fecha = response.fecha.split('-');
        $('#id_fecha').val(`${fecha[2]}/${fecha[1]}/${fecha[0]}`);

        // proveedor
        $('#proveedor').append(new Option(`${proveedor.razon_social} - CUIT ${proveedor.cuit}`, `${proveedor.id}`));
        displayInfoProveedor(proveedor);

        // Total
        $('.input-total').val(response.total);

        // pagado
        $('#id_pagado').prop('checked', response.pagado);

        // facturas
        pagoFacturas.forEach(function(factura, _index) {
            let indexFactura = _index + 1;
            let idFactura = factura.id;

            if (indexFactura > 1){ // Si no es el primero previamente tengo que clonar
                let cloneFactura = $('.wrapper-factura:first').clone(true);

                cloneFactura.find('.close').removeClass('d-none'); // La primera factura no se puede borrar
                cloneFactura.attr('data-inline', `{"id": ${idFactura}, "action": "update"}`);
                cloneFactura.attr('id', `pago_factura_${indexFactura}`);
                cloneFactura.attr('data-id', `${indexFactura}`);
                cloneFactura.find('.selector-factura').attr('name', `factura_${indexFactura}`);
                cloneFactura.find('.group-pagos').not(':first').remove();
                cloneFactura.find('[name*="metodo"]').attr('name', `metodo_${indexFactura}_1`);
                cloneFactura.find('[name*="monto"]').attr('name', `monto_${indexFactura}_1`);

                // Selector factura, destruye los eventos de select2 y los vuelve a construir
                cloneFactura.find('.wrapper-selector-factura').children().remove();
                let htmlselector = `<select name="factura" class="select form-control selector-factura" required>`;
                htmlselector += `<option value="" selected="">---------</option></select>`;
                cloneFactura.find('.wrapper-selector-factura').append(htmlselector);

                cloneFactura.find('[name*="ganancias"]').attr('name', `ganancias_${indexFactura}`);
                cloneFactura.find('[name*="ingresos_brutos"]').attr('name', `ingresos_brutos_${indexFactura}`);
                cloneFactura.find('[name*="iva"]').attr('name', `iva_${indexFactura}`);

                $('.wrapper-factura:last').after(cloneFactura);
            } else {
                // Defino data line para el elemento existente
                $(`#pago_factura_${indexFactura}`).attr('data-inline', `{"id": ${idFactura}, 'action': "update"}`);
            }

            // factura
            $.get(`/api/factura-proveedor/${factura.factura}/`, function(response) {
                $(`#pago_factura_${indexFactura} .selector-factura`).append(
                    new Option(`${response.fecha} - ${response.proveedor.razon_social} - $${response.total}`, `${response.id}`, true, true)
                );
            });

            $(`#pago_factura_${indexFactura} .selector-factura`).select2({
                ajax: {
                    beforeSend: function(jqXHR, settings) {
                        let idProveedor = $('#proveedor').find(":selected").val();
                        settings.url = '/api/factura-proveedor?cobrado=0&proveedor=' + idProveedor;
                    },
                    url: '/api/factura-proveedor/',
                    processResults: function (response) {
                        let data = $.map(response, function (obj) {
                            obj.id = obj.id;
                            obj.text = `${obj.fecha} - ${obj.proveedor.razon_social} - $${obj.total}`;
                            return obj;
                        });
                        return {
                            results: data
                        };
                    },
                    cache: true
                }
            }).on('change', function(){
                setTotal();
            });

            // pagos
            factura.pago_factura_pagos.forEach(function(pago, _index){
                let indexPago = _index + 1;
                let idPago = pago.id;

                if (indexPago > 1){ // Si no es el primero previamente tengo que clonar
                    let clone = $('.group-pagos:first').clone();
                    clone.attr('data-inline', `{"id": ${idPago} ,"action": "update"}`);
                    clone.find("select").after('<button class="btn btn-danger btn-xs btn-metodo-remove">x</button>');
                    clone.find('[name*="metodo"]').attr('name', `metodo_${indexFactura}_${indexPago}`);
                    clone.find('[name*="monto"]').attr('name', `monto_${indexFactura}_${indexPago}`);

                    $('.group-pagos:last').after(clone);
                } else {
                    // Defino data inline para el elemento existente
                    $(`#pago_factura_${indexFactura} .group-pagos`).attr('data-inline', `{"id": ${idPago} ,"action": "update"}`);
                }
                $(`[name="metodo_${indexFactura}_${indexPago}"]`).val(`${pago.metodo}`);
                $(`[name="monto_${indexFactura}_${indexPago}"]`).val(`${pago.monto}`);
            });

            // ganancias, ingresos e iva
            $(`[name="ganancias_${indexFactura}"]`).val(`${factura.ganancias}`);
            $(`[name="ingresos_brutos_${indexFactura}"]`).val(`${factura.ingresos_brutos}`);
            $(`[name="iva_${indexFactura}"]`).val(`${factura.iva}`);
        });

    }).fail(function(){
        alert('Se produjo un error, inténtalo nuevamente.')
    });

    // metodos de pago
    $.ajax({
        url: '/api/mediopago/',
        success: function (response) {
            var data = $.map(response, function (obj) {
                obj.id = obj.id;
                obj.text = obj.nombre
                return obj;
            });
            $.each(data, function(key, value) {
                $('.selector-metodo').append($("<option></option>")
                                             .attr("value", value['id'])
                                             .text(value['nombre']));
            });
        }
    });
});

// Edición
$('.selector-metodo').on('change', function(e){
    // Boton agregar metodos
    let idFactura = $(this).closest('.wrapper-factura').attr('id');
    $(`#${idFactura} .add-pago`).removeClass('d-none');
});

$(".add-pago").click(function(e){
    e.preventDefault();

    let idElementFactura = $(this).closest('.wrapper-factura').attr('id');
    let idDataFactura = $(this).closest('.wrapper-factura').attr('data-id');
    let countPagos = $(`#${idElementFactura} .group-pagos`).length;
    let cloneIdPago = countPagos + 1; // Id del proximo elemento clonado
    let clonePago = $(`#${idElementFactura} .group-pagos:first`).clone();

    if (!validateForm()){return;}
    clonePago.attr('data-inline', '{"action": "add"}'); // Modifico el data line a nuevo
    clonePago.find('.selector-metodo').attr('name', `metodo_${idDataFactura}_${cloneIdPago}`);
    clonePago.find('.input-monto').attr('name', `monto_${idDataFactura}_${cloneIdPago}`);
    clonePago.find('.numberinput').val('0.0');
    clonePago.find("select").after('<button class="btn btn-danger btn-xs btn-metodo-remove">x</button>');
    $(`#${idElementFactura} .wrapper-pagos`).append(clonePago);
});

$('.wrapper-pagos').on('click', '.btn-metodo-remove', function(e){
    e.preventDefault();
    let data = $(this).closest('.group-pagos').attr('data-inline');
    data = JSON.parse(data);
    let idPago = data.id;

    $(this).closest('.group-pagos').attr('data-inline', `{"id": ${idPago}, "action": "delete"}`);
    $(this).closest('.group-pagos').addClass('d-none');

    $(this).closest(".group-pagos").addClass('d-none');
})

// Clona factura
$('.add-factura').click(function(e){
    e.preventDefault();

    if (!validateForm()){return;}

    let wrapperFactura = $('.wrapper-factura:first'); // clono primera factura
    let countFacturas = $('.wrapper-factura').length;
    let cloneIdFactura = countFacturas + 1; // Id del elemento clonado
    let clone = wrapperFactura.clone(true); // clono con datos y eventos
    let idFactura = 'pago_factura_' + cloneIdFactura; // establezco el id

    clone.attr('id', idFactura); // agrego id
    clone.attr('data-id', cloneIdFactura);
    clone.attr('data-inline', '{"action": "add"}');

    clone.find('input').each(function(){$(this).val('0.0')}); // remuevo valores
    clone.find('.add-pago').addClass('d-none');
    clone.find('.close').removeClass('d-none');

    // Selector factura, destruye los eventos de select2
    clone.find(`.wrapper-selector-factura`).children().remove();
    let htmlselector = `<select name="factura" class="select form-control selector-factura" required>`;
    htmlselector += `<option value="" selected="">---------</option></select>`;
    clone.find('.wrapper-selector-factura').append(htmlselector);

    clone.find('.wrapper-pagos').children().not(':first').remove(); // Remueve metodos clonados

    // setea atributos
    clone.find('.selector-factura').attr('name', `factura_${cloneIdFactura}`);
    clone.find('.selector-metodo').attr('name', `metodo_${cloneIdFactura}_1`);
    clone.find('.input-monto').attr('name', `monto_${cloneIdFactura}_1`);
    clone.find('.input-ganancias').attr('name', `ganancias_${cloneIdFactura}`);
    clone.find('.input-ingresos-brutos').attr('name', `ingresos_brutos_${cloneIdFactura}`);
    clone.find('.input-iva').attr('name', `iva_${cloneIdFactura}`);

    $('.wrapper-factura:last').after(clone); // clonar luego del último

    // Vuelvo a construir selector
    clone.find('.selector-factura').select2({
        placeholder: 'Selecciona una factura',
        ajax: {
            beforeSend: function(jqXHR, settings) {
                let idProveedor = $('#proveedor').find(":selected").val();
                settings.url = '/api/factura-proveedor?cobrado=0&proveedor=' + idProveedor;
            },
            url: '/api/factura-proveedor/',
            processResults: function (response) {
                let data = $.map(response, function (obj) {
                    obj.id = obj.id;
                    obj.text = `${obj.fecha} - ${obj.proveedor.razon_social} - $${obj.total}`;
                    return obj;
                });
                return {
                    results: data
                };
            },
            cache: true
        }
    }).on('change', function(){
        setTotal();
    });
});

// Elimina factura
$('.close').click(function(){
    let data = $(this).closest('.wrapper-factura').attr('data-inline');
    if (data.includes('add')){ // Si el wrapper es nuevo y lo elimino, lo remuevo del DOM
        $(this).closest('.wrapper-factura').remove();
    } else {
        data = JSON.parse(data);
        let idFactura = data.id;

        $(this).closest('.wrapper-factura').attr('data-inline', `{"id": ${idFactura}, "action": "delete"}`);
        $(this).closest('.wrapper-factura').addClass('d-none');
    }
    setTotal();
});

// Guardar
$('#submit-id-submit').click(function(e){
    e.preventDefault();
    if (!validateForm()){return;}

    let fecha = $('input[name=fecha]').val().split("/");
    fecha = new Date(fecha[2], fecha[1] - 1, fecha[0]).toISOString().slice(0, 10);

    let pago = $('#pago').val();
    let total = $('input[name=total]').val();
    let pagado = $('input[name=pagado]').is(":checked");
    let facturas = [];

    $('.wrapper-factura').each(function(){
        let factura = $(this).find('[name*="factura"]').val();
        let data = $(this).attr('data-inline');
        let pagos = [];
        let ganancias = $(this).find('[name*="ganancias"]').val();
        let ingresos_brutos = $(this).find('[name*="ingresos_brutos"]').val();
        let iva = $(this).find('[name*="iva"]').val();

        // pagos
        $(this).find('.group-pagos').each(function(e){
            let dataPago = $(this).attr('data-inline');
            let metodo = $(this).find('[name*="metodo"]').val();
            let monto = $(this).find('[name*="monto"]').val();
            pagos.push({
                'data': JSON.parse(dataPago.replace(/'/g, '"')),
                'metodo': metodo,
                'monto': monto
            });
        });

        facturas.push({
            'factura': parseInt(factura),
            'data': JSON.parse(data.replace(/'/g, '"')),
            'pago_factura_pagos': pagos,
            'ganancias': ganancias,
            'ingresos_brutos': ingresos_brutos,
            'iva': iva
        });
    });

    let formPagoData = {
        'fecha': fecha,
        'pago_facturas': facturas,
        'total': parseInt(total),
        'pagado': pagado
    }
    formPagoData['proveedor'] = proveedor;

    $.ajax({
        type        : 'PUT',
        url         : `/api/pago/${pago}/`,
        data        : JSON.stringify(formPagoData),
        dataType    : 'json',
        contentType : 'application/json',
        encode      : true,
        beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        }
    }).done(function(data) {
        window.location.href = '{% url 'accounting:pago-update' pk=0 %}?update=1'.replace('0', data.id);
    }).fail(function() {
        alert('Se produjo un error, revise el formulario e inténtelo nuevamente.');
    })
});

// funciones
function validateForm(){
    var validator = $('#pago-form').validate({
        lang: 'es',
    });

    // Validaciones dinamicas
    $('[name*="monto"]').each(function () {
        $(this).rules('add', {
            required: true,
            notEqual: '0.0'
        });
    });

    // Metodos
    jQuery.validator.addMethod("notEqual", function(value, element, param) {
        return this.optional(element) || value !== param;
    }, "Este campo es obligatorio.");

    return $("#pago-form").valid();
}

function setTotal(){
    let elementTotal = $('.input-total');
    let totalFactura = 0;
    $('.selector-factura').find(':selected').each(function(){
        // Si el wrapper factura esta oculto no se debe sumar
        if (!$(this).closest('.wrapper-factura').hasClass('d-none')){
            totalFactura += parseInt($(this).text().split('$')[1]);
            elementTotal.val(totalFactura);
        }
    });
}

function displayInfoProveedor(obj){
    if(obj !== ''){
        var data = `<div style=" margin-top: 10px; margin-bottom: 20px; margin-left: 12px;" class="card col-6">`;
        data += `<div class="card-body"><h5 class="card-title">${obj.razon_social}</h5>`;
        data += `<dl><dt class="col-sm-2">CUIT</dt><dd class="col-sm-10">${obj.cuit}</dd>`;
        data += `<dt class="col-sm-3">Correo</dt><dd class="col-sm-10">${obj.correo}</dd>`;
        data += `<dt class="col-sm-3">Teléfono</dt><dd class="col-sm-10">${obj.telefono}</dd>`;
        data += `<dt class="col-sm-3">Dirección</dt><dd class="col-sm-10">${obj.calle} ${obj.numero} ${obj.piso} ${obj.dpto}</dd>`;
        if (obj.localidad !== null){
            data += `<dt class="col-sm-2"></dt><dd class="col-sm-10">`;
            data += `${obj.localidad.nombre}${obj.distrito.nombre} ${obj.provincia.nombre}</dd>`;
        }
        data += `</dl></div></div>`;
        $('#info_proveedor').html(data);
    }
}

{% endblock %}
