{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}
    {% if cliente.pk %}Editar Cliente #{{ cliente.pk }}{% else %}Agregar Cliente{% endif %} | Liqueed
{% endblock %}
{% block content %}
<div class="container-fluid">
    {% if cliente.pk %}
      <h1 class="h3 text-gray-800">Editar Cliente #{{ cliente.pk }}</h1>
    {% else %}
      <h1 class="h3 text-gray-800">Agregar Cliente</h1>
    {% endif %}
    <hr class="sidebar-divider">

    {% crispy form %}
</div>
{% endblock %}

{% block extra_js %}
    function update_forma_envio(){
        var tipo_envio_factura = $('#id_tipo_envio_factura option:selected').val();
        if(tipo_envio_factura == "C"){
            $('#id_link_envio_factura').attr('disabled', true);
            $('#id_correo_envio_factura').attr('disabled', false);
        }else{
            $('#id_correo_envio_factura').attr('disabled', true);
            $('#id_link_envio_factura').attr('disabled', false);
        }
    }

    $(function() {
        update_forma_envio();
    });

    $('#id_tipo_envio_factura').change(function() {
        update_forma_envio();
    });
{% endblock %}
