{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}
  {% if object.pk %}Editar Cliente #{{ object.pk }}{% else %}Agregar Cliente{% endif %} | Liqueed
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h1 class="h3 text-gray-800">Clientes</h1>
    {% include 'components/messages.html' %}

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{% if not object.pk %}Agregar Cliente{% else %}Editar Cliente #{{ object.pk }}{% endif %}</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          {% crispy form %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
    function update_forma_envio(){
        var tipo_envio_factura = $('#id_tipo_envio_factura option:selected').val();
        if(tipo_envio_factura == "C"){
            $('#id_link_envio_factura').attr('disabled', true);
            $('#id_correo_envio_factura').attr('disabled', false);
        }else{
            $('#id_correo_envio_factura').attr('disabled', true);
            $('#id_link_envio_factura').attr('disabled', false);
        }
    }

    $(function() {
        update_forma_envio();
    });

    $('#id_tipo_envio_factura').change(function() {
        update_forma_envio();
    });
{% endblock %}
