{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}Clientes - Liqueed{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Cliente</h1>

    <form method="post" action="{% url 'cliente-eliminar' object.pk %}">
        {% csrf_token %}
        <p><strong>Atenci&oacute;n!</strong> Est&aacute; por eliminar el cliente <em>{{ object.razon_social}}</em> con CUIT <em>{{ object.cuit}}</em>.</p>
        <p>Si se elimina, tambi&eacute;n se eliminar sus datos asociados</p>
        <div class="row">
            <div class="col">
                <button class="btn btn-danger" type="submit">Eliminar</button>
                <a class="btn" href="{% url 'cliente-listado' %}">No eliminar</a>
            </div>
        </div>

    </form>


</div>

{% endblock %}
