{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}Facturas - Liqueed{% endblock %}
{% block content %}
<div class="container-fluid">

  <h1 class="h3 mb-2 text-gray-800">Facturas</h1>
  <input id="id_factura" type="hidden" value="{{ object.id }}">
      {% crispy form %}
    <div class="adjuntos"></div>
</div>
{% endblock %}

{% block extra_js %}
$('#id_fecha').datepicker({format: 'dd/mm/yyyy', language: 'es'});
$('#id_cliente').select2({allowClear: true, language: 'es'});
$('#id_cliente').change(function(){
    updateInfoCliente();
});

function updateInfoCliente(){
    var idCliente = $('#id_cliente').val();
    if(idCliente !== ''){
        $.get("/api/cliente/" + idCliente + "/", function( response ) {
            var data = '<div style=" margin-top: 10px; margin-bottom: 20px;" class="card col-6"><div class="card-body"><h5 class="card-title">' + response.razon_social + '</h5><dl><dt class="col-sm-2">CUIT</dt><dd class="col-sm-10">' + response.cuit + '</dd><dt class="col-sm-3">Correo</dt><dd class="col-sm-10">' + response.correo + '</dd><dt class="col-sm-3">Teléfono</dt><dd class="col-sm-10">' + response.telefono + '</dd><dt class="col-sm-3">Dirección</dt><dd class="col-sm-10">' + response.calle + ' ' + response.numero + ' ' + response.piso + ' ' + response.dpto + '</dd><dt class="col-sm-2"></dt><dd class="col-sm-10">' + response.localidad.nombre + ', ' + response.distrito.nombre + ', ' + response.provincia.nombre + '</dd></dl></div></div>';
            $('#info_cliente').html(data);
        });
    } else {
        $('#info_cliente').html('');
    }
}
updateInfoCliente();

$(document).ready(function() {
    var max_fields = 10;
    var wrapper    = $(".wrapper");
    var add_button = $(".add_files");
    var x = 1;

    $(add_button).click(function(e){
        e.preventDefault();
        if(x < max_fields){
            x++;
            $(wrapper).append('<div><input type="file" name="archivos" /> <a href="javascript:void(0);" class="btn btn-danger btn-sm remove_field">Eliminar</a></div>');
        }
    });

    $(wrapper).on("click",".remove_field", function(e){
        e.preventDefault();
	$(this).parent('div').remove();
	x--;
    })
});

var idFactura = $('#id_factura').val();
if (idFactura) {
    var adjuntos = $('.adjuntos');
    $.get(`/api/factura/${idFactura}/`, function(data) {
	$.each(data.archivos, function(index, item) {
	    var filename = item.documento.split(/[\\\/]/).pop();
	    var itemHtml = `<div class="col"><a class="col-sm-10" target="_blank" href="${item.documento}">${filename} <i class="fas fa-eye"></i></a>`;
	    itemHtml += `<a id="${item.id}" class="btn btn-danger btn-sm remove_document" href="javascript:void(0);" role="button">Eliminar</a></div>`;
	    adjuntos.append(itemHtml);
	});
    });

    $(adjuntos).on("click",".remove_document", function(e){
	e.preventDefault();
	$(this).parent('div').remove();
	$.ajax({
	    url: `/api/archivo/${this.id}/`,
	    type: 'DELETE',
	    beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
	    success: function(result) {
		// Do something with the resultx
	    }
	});
    });
}
{% endblock %}
