{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}Facturas - Liqueed{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Factura</h1>

    <dl class="row">
        <dt class="col-sm-2">Fecha</dt>
        <dd class="col-sm-10">{{ object.fecha }}</dd>
        <dt class="col-sm-2">Cliente</dt>
        <dd class="col-sm-10">{{ object.cliente }}</dd>
        <dt class="col-sm-2">Valor</dt>
        <dd class="col-sm-10">{{ object.get_moneda_display }} {{ object.monto }}</dd>
	<dt class="col-sm-2">Cobrado</dt>
        <dd class="col-sm-10">{% if object.cobrado %}<i class="fas fa-check-square"></i>{% else %}<i class="fas fa-circle"></i>{% endif %}</dd>
    </dl>

    <a href="{% url 'factura-listado' %}" class="btn btn-primary float-right">Volver</a>

</div>

{% endblock %}
