{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}
    {% if mediopago.pk %}Editar Medio de Pago #{{ mediopago.pk }}{% else %}Agregar Medio de Pago{% endif %} | Liqueed
{% endblock %}
{% block content %}
<div class="container-fluid">
    {% if mdiopago.pk %}
      <h1 class="h3 text-gray-800">Editar Medio de Pago #{{ mediopago.pk }}</h1>
    {% else %}
      <h1 class="h3 text-gray-800">Agregar Medio de Pago</h1>
    {% endif %}
    <hr class="sidebar-divider">

    {% crispy form %}
</div>
{% endblock %}
