{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}Detalle de Medio de pago #{{ object.pk }} | Liqueed{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h1 class="h3 text-gray-800">Medios de pago</h1>
    {% include 'components/messages.html' %}

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Detalle de Medio de pago #{{ object.pk }}</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <dl class="row">
            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10">{{ object.nombre }}</dd>
          </dl>
          {% if perms.core.list_mediopago %}
            <a href="{% url 'mediopago-list' %}" class="btn btn-primary float-right">Volver</a>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
{% endblock %}
