{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}Detalle Orden de Compra #{{ object.pk }} - Cliente: {{ object.cliente.razon_social }} | Liqueed{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h1 class="h3 text-gray-800">Órdenes de compra</h1>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Detalle Orden de Compra #{{ object.pk }} - Cliente: {{ object.cliente.razon_social }}</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <dl class="row">
            <dt class="col-sm-2">Fecha</dt>
            <dd class="col-sm-10">{{ object.fecha }}</dd>
            <dt class="col-sm-2">Cliente</dt>
            <dd class="col-sm-10">{{ object.cliente }}</dd>
            <dt class="col-sm-2">Valor</dt>
            <dd class="col-sm-10">{{ object.get_moneda_display }} {{ object.monto }}</dd>
          </dl>
          <a href="{% url 'ordencompra-list' %}" class="btn btn-primary float-right">Volver</a>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
