{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}Detalle Orden de Compra #{{ object.pk }} - Cliente: {{ object.cliente.razon_social }} | Liqueed{% endblock %}
{% block content %}
<div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800">Detalle Orden de Compra #{{ object.pk }} - Cliente: {{ object.cliente.razon_social }}</h1>
  <hr class="sidebar-divider">

    <dl class="row">
        <dt class="col-sm-2">Fecha</dt>
        <dd class="col-sm-10">{{ object.fecha }}</dd>
        <dt class="col-sm-2">Cliente</dt>
        <dd class="col-sm-10">{{ object.cliente }}</dd>
        <dt class="col-sm-2">Valor</dt>
        <dd class="col-sm-10">{{ object.get_moneda_display }} {{ object.monto }}</dd>
    </dl>

    <a href="{% url 'ordencompra-listado' %}" class="btn btn-primary float-right">Volver</a>

</div>

{% endblock %}
