{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}
  {% if object.pk %}
    Editar orden de compra #{{ object.pk }} - Cliente: {{ object.cliente.razon_social }}
  {% else %}
    Agregar orden de compra
  {% endif %} | Liqueed
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1 class="h3 text-gray-800">Orden de compra</h1>
    {% include 'components/messages.html' %}

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
          {% if not object.pk %}
            Agregar Orden de compra
          {% else %}
            Editar Orden de compra #{{ ordencompra.pk}} - Cliente: {{ ordencompra.cliente.razon_social }}
          {% endif %}
        </h6>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          {% crispy form %}
        </div>
      </div>
    </div>

</div>
{% endblock %}

{% block extra_js %}
$('#id_fecha').datepicker({format: 'dd/mm/yyyy', language: 'es', todayHighlight: true});
$('#id_cliente').select2({allowClear: true, language: 'es'});
$('#id_cliente').change(function(){
    updateInfoCliente();
});

function updateInfoCliente(){
    var idCliente = $('#id_cliente').val();
    if(idCliente !== ''){
        $.get("/api/cliente/" + idCliente + "/", function(obj) {
            var data = `<div style=" margin-top: 10px; margin-bottom: 20px; margin-left: 11px;" class="card col-6">`;
            data += `<div class="card-body"><h5 class="card-title">${obj.razon_social}</h5>`;
            data += `<dl><dt class="col-sm-2">CUIT</dt><dd class="col-sm-10">${obj.cuit}</dd>`;
            data += `<dt class="col-sm-3">Correo</dt><dd class="col-sm-10">${obj.correo}</dd>`;
            data += `<dt class="col-sm-3">Teléfono</dt><dd class="col-sm-10">${obj.telefono}</dd>`;
            data += `<dt class="col-sm-3">Dirección</dt><dd class="col-sm-10">${obj.calle} ${obj.numero} ${obj.piso} ${obj.dpto}</dd>`;
            if (obj.localidad !== null){
                data += `<dt class="col-sm-2"></dt><dd class="col-sm-10">`;
                data += `${obj.localidad.nombre}${obj.distrito.nombre} ${obj.provincia.nombre}</dd>`;
            }
            data += `</dl></div></div>`;
            $('#info_cliente').html(data);
        });
    } else {
        $('#info_cliente').html('');
    }
}

updateInfoCliente();
{% endblock %}
