{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}
    {% if ordencompra.pk %}Editar Orden de Compra #{{ ordencompra.pk }} - Cliente: {{ ordencompra.cliente.razon_social }}{% else %}Agregar Orden de Compra{% endif %} | Liqueed
{% endblock %}
{% block content %}
<div class="container-fluid">
    {% if ordencompra.pk %}
      <h1 class="h3 text-gray-800">Editar Orden de compra #{{ ordencompra.pk}} - Cliente: {{ ordencompra.cliente.razon_social }}</h1>
    {% else %}
      <h1 class="h3 text-gray-800">Agregar Orden de compra</h1>
    {% endif %}
    <hr class="sidebar-divider">

    {% crispy form %}
</div>
{% endblock %}

{% block extra_js %}
$('#id_fecha').datepicker({format: 'dd/mm/yyyy', language: 'es', todayHighlight: true});
$('#id_cliente').select2({allowClear: true, language: 'es'});
$('#id_cliente').change(function(){
    updateInfoCliente();
});

function updateInfoCliente(){
    var idCliente = $('#id_cliente').val();
    if(idCliente !== ''){
        $.get("/api/cliente/" + idCliente + "/", function(obj) {
            var data = `<div style=" margin-top: 10px; margin-bottom: 20px; margin-left: 11px;" class="card col-6">`;
            data += `<div class="card-body"><h5 class="card-title">${obj.razon_social}</h5>`;
            data += `<dl><dt class="col-sm-2">CUIT</dt><dd class="col-sm-10">${obj.cuit}</dd>`;
            data += `<dt class="col-sm-3">Correo</dt><dd class="col-sm-10">${obj.correo}</dd>`;
            data += `<dt class="col-sm-3">Teléfono</dt><dd class="col-sm-10">${obj.telefono}</dd>`;
            data += `<dt class="col-sm-3">Dirección</dt><dd class="col-sm-10">${obj.calle} ${obj.numero} ${obj.piso} ${obj.dpto}</dd>`;
            if (obj.localidad !== null){
                data += `<dt class="col-sm-2"></dt><dd class="col-sm-10">`;
                data += `${obj.localidad.nombre}${obj.distrito.nombre} ${obj.provincia.nombre}</dd>`;
            }
            data += `</dl></div></div>`;
            $('#info_cliente').html(data);
        });
    } else {
        $('#info_cliente').html('');
    }
}

updateInfoCliente();
{% endblock %}
