{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
    <div class="sidebar-brand-icon">
      <img width='134px' height='50px' src="{% static 'images/logo-top-light.png' %}" />
    </div>
  </a>

  <hr class="sidebar-divider my-0">

  <li class="nav-item{% if request.resolver_match.url_name == 'home' %} active{% endif %}">
    <a class="nav-link" href="{% url 'home' %}">
      <i class="fas fa-fw fa-home"></i>
      <span>Inicio</span></a>
  </li>

  <!-- Sección Clientes -->
  {% if perms.core.add_cliente or perms.core.list_cliente or perms.core.add_factura or perms.core.list_factura or perms.core.add_ordencompra or perms.core.list_ordencompra or perms.accounting.add_cobranza or perms.accounting.list_cobranza %}
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading Clientes -->
    <div class="sidebar-heading">
      Clientes
    </div>
  {% endif %}

  <!-- Clientes -->
  {% if perms.core.list_cliente or perms.core.add_cliente %}
    <li class="nav-item{% if 'cliente' in request.resolver_match.url_name %} active{% endif %}">
      {% if perms.core.list_cliente %}
        <a class="nav-link" href="{% url 'cliente-list' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Clientes</span>
        </a>
      {% endif %}
      {% if not perms.core.list_cliente and perms.core.add_cliente %}
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClientes" aria-expanded="true">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Clientes</span>
        </a>
        <div id="collapseClientes" class="collapse">
          <div class="bg-white py-2 collapse-inner rounded">
            <a href="{% url 'cliente-create' %}" class="collapse-item" href="utilities-color.html">Agregar</a>
          </div>
        </div>
      {% endif %}
    </li>
  {% endif %}
  <!-- End Clientes -->

  <!-- Facturación -->
  {% if perms.core.list_factura or perms.core.add_factura %}
    <li class="nav-item{% if 'factura' in request.resolver_match.url_name and not 'facturaproveedor' in request.resolver_match.url_name %} active{% endif %}">
      {% if perms.core.list_factura %}
        <a class="nav-link" href="{% url 'factura-list' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Facturaci&oacute;n</span>
        </a>
      {% endif %}
      {% if not perms.core.list_factura and perms.core.add_factura %}
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFacturas" aria-expanded="true">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Facturaci&oacute;n</span>
        </a>
        <div id="collapseFacturas" class="collapse">
          <div class="bg-white py-2 collapse-inner rounded">
            <a href="{% url 'factura-create' %}" class="collapse-item" href="utilities-color.html">Agregar</a>
          </div>
        </div>
      {% endif %}
    </li>
  {% endif %}
  <!-- End Facturación -->

  <!-- Órdenes de compra -->
  {% if perms.core.list_ordencompra or perms.core.add_ordencompra %}
    <li class="nav-item{% if 'ordencompra' in request.resolver_match.url_name %} active{% endif %}">
      {% if perms.core.list_ordencompra %}
        <a class="nav-link" href="{% url 'ordencompra-list' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>&Oacute;rdenes de compra</span>
        </a>
      {% endif %}
      {% if not perms.core.list_ordencompra and perms.core.add_ordencompra %}
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrdenescompra" aria-expanded="true">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>&Oacute;rdenes de compra</span>
        </a>
        <div id="collapseOrdenescompra" class="collapse">
          <div class="bg-white py-2 collapse-inner rounded">
            <a href="{% url 'ordencompra-create' %}" class="collapse-item" href="utilities-color.html">Agregar</a>
          </div>
        </div>
      {% endif %}
    </li>
  {% endif %}
  <!-- End Órdenes de compra -->

  <!-- Cobranza -->
  {% if perms.accounting.add_cobranza or perms.accounting.list_cobranza %}
    <li class="nav-item{% if 'cobranza' in request.resolver_match.url_name %} active{% endif %}">
      {% if perms.accounting.list_cobranza %}
        <a class="nav-link" href="{% url 'accounting:cobranza-list' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Cobranzas</span>
        </a>
      {% endif %}
      {% if not perms.accounting.list_cobranza and perms.accounting.add_cobranza %}
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCobranza" aria-expanded="true">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Cobranza</span>
        </a>
        <div id="collapseCobranza" class="collapse">
          <div class="bg-white py-2 collapse-inner rounded">
            <a href="{% url 'accounting:cobranza-create' %}" class="collapse-item" href="utilities-color.html">Agregar</a>
          </div>
        </div>
      {% endif %}
    </li>
  {% endif %}
  <!-- End Cobranza -->

  <!-- End Sección Clientes -->

  <!-- Sección Proveedores -->
  {% if perms.core.add_proveedor or perms.core.list_proveedor or perms.core.add_facturaproveedor or perms.core.list_facturaproveedor or perms.accounting.add_pago or perms.accounting.list_pago %}
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading Proveedores -->
    <div class="sidebar-heading">
      Proveedores
    </div>
  {% endif %}

  <!-- Proveedores -->
  {% if perms.core.list_proveedor or perms.core.add_proveedor %}
    <li class="nav-item{% if 'proveedor' in request.resolver_match.url_name and not 'facturaproveedor' in request.resolver_match.url_name %} active{% endif %}">
      {% if perms.core.list_proveedor %}
        <a class="nav-link" href="{% url 'proveedor-list' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Proveedores</span>
        </a>
      {% endif %}
      {% if not perms.core.list_proveedor and perms.core.add_proveedor %}
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProveedor" aria-expanded="true">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Proveedores</span>
        </a>
        <div id="collapseProveedor" class="collapse">
          <div class="bg-white py-2 collapse-inner rounded">
            <a href="{% url 'proveedor-create' %}" class="collapse-item" href="utilities-color.html">Agregar</a>
          </div>
        </div>
      {% endif %}
    </li>
  {% endif %}
  <!-- End Proveedores -->


  <!-- Factura Proveedores -->
  {% if perms.core.list_facturaproveedor or perms.core.add_facturaproveedor %}
    <li class="nav-item{% if 'facturaproveedor' in request.resolver_match.url_name %} active{% endif %}">
      {% if perms.core.list_facturaproveedor %}
        <a class="nav-link" href="{% url 'facturaproveedor-list' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Facturaci&oacute;n</span>
        </a>
      {% endif %}
      {% if not perms.core.list_facturaproveedor and perms.core.add_facturaproveedor %}
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFacturaProveedor" aria-expanded="true">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Facturaci&oacute;n</span>
        </a>
        <div id="collapseFacturaProveedor" class="collapse">
          <div class="bg-white py-2 collapse-inner rounded">
            <a href="{% url 'facturaproveedor-create' %}" class="collapse-item" href="utilities-color.html">Agregar</a>
          </div>
        </div>
      {% endif %}
    </li>
  {% endif %}
  <!-- End Factura Proveedores -->

  <!-- Pagos -->
  {% if perms.accounting.list_pago or perms.accounting.add_pago %}
    <li class="nav-item{% if 'pago' in request.resolver_match.url_name and not 'mediopago' in request.resolver_match.url_name %} active{% endif %}">
      {% if perms.accounting.list_pago %}
        <a class="nav-link" href="{% url 'accounting:pago-list' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Pagos</span>
        </a>
      {% endif %}
      {% if not perms.accounting.list_pago and perms.accounting.add_pago %}
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePago" aria-expanded="true">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Pagos</span>
        </a>
        <div id="collapsePago" class="collapse">
          <div class="bg-white py-2 collapse-inner rounded">
            <a href="{% url 'accounting:pago-create' %}" class="collapse-item" href="utilities-color.html">Agregar</a>
          </div>
        </div>
      {% endif %}
    </li>
  {% endif %}
  <!-- Pagos -->

  <!-- End Sección Proveedores -->

  <!-- Sección Medio de Pago -->
  {% if perms.core.add_mediopago or perms.core.list_mediopago %}
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Medios de pago
    </div>

    <li class="nav-item{% if 'mediopago' in request.resolver_match.url_name  %} active{% endif %}">
      {% if perms.core.list_mediopago %}
        <a class="nav-link" href="{% url 'mediopago-list' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Medios de pago</span>
        </a>
      {% endif %}
      {% if not perms.core.list_mediopago and perms.core.add_mediopago %}
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMedioPago" aria-expanded="true">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Medio de pago</span>
        </a>
        <div id="collapseMedioPago" class="collapse">
          <div class="bg-white py-2 collapse-inner rounded">
            <a href="{% url 'mediopago-create' %}" class="collapse-item" href="utilities-color.html">Agregar</a>
          </div>
        </div>
      {% endif %}
    </li>
  {% endif %}
  <!-- End Sección Medio de Pago -->

  <!-- Sección Autenticación -->
  {% if perms.authorization.add_user or perms.authorization.list_user or perms.auth.add_group or perms.auth.list_group or perms.auth.add_permission or perms.auth.list_permission %}
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Autenticaci&oacute;n
    </div>
  {% endif %}

  <!-- Usuario -->
  {% if perms.authorization.list_user or perms.authorization.add_user %}
    <li class="nav-item{% if 'user' in request.resolver_match.url_name %} active{% endif %}">
      {% if perms.authorization.list_user %}
        <a class="nav-link" href="{% url 'authorization:user-list' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Usuarios</span>
        </a>
      {% endif %}
      {% if not perms.authorization.list_user and perms.authorization.add_user %}
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser" aria-expanded="true">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Usuarios</span>
        </a>
        <div id="collapseUser" class="collapse">
          <div class="bg-white py-2 collapse-inner rounded">
            <a href="{% url 'authorization:user-create' %}" class="collapse-item" href="utilities-color.html">Agregar</a>
          </div>
        </div>
      {% endif %}
    </li>
  {% endif %}
  <!-- End Usuario -->

  <!-- Grupos -->
  {% if perms.auth.list_group or perms.auth.add_group %}
    <li class="nav-item{% if 'group' in request.resolver_match.url_name %} active{% endif %}">
      {% if perms.auth.list_group %}
        <a class="nav-link" href="{% url 'authorization:group-list' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Grupos</span>
        </a>
      {% endif %}
      {% if not perms.auth.list_group and perms.auth.add_group %}
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGroup" aria-expanded="true">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Grupos</span>
        </a>
        <div id="collapseGroup" class="collapse">
          <div class="bg-white py-2 collapse-inner rounded">
            <a href="{% url 'authorization:group-create' %}" class="collapse-item" href="utilities-color.html">Agregar</a>
          </div>
        </div>
      {% endif %}
    </li>
  {% endif %}
  <!-- End Grupos -->

  {% if perms.auth.list_permission %}
    <li class="nav-item{% if 'permission' in request.resolver_match.url_name %} active{% endif %}">
      <a class="nav-link" href="{% url 'authorization:permission-list' %}">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Permisos</span></a>
    </li>
  {% endif %}
  <!-- End Sección Autenticación -->

  {% comment %}
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Components</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Components:</h6>
        <a class="collapse-item" href="buttons.html">Buttons</a>
        <a class="collapse-item" href="cards.html">Cards</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Utilities</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Utilities:</h6>
        <a class="collapse-item" href="utilities-color.html">Colors</a>
        <a class="collapse-item" href="utilities-border.html">Borders</a>
        <a class="collapse-item" href="utilities-animation.html">Animations</a>
        <a class="collapse-item" href="utilities-other.html">Other</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Addons
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
      <i class="fas fa-fw fa-folder"></i>
      <span>Pages</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Login Screens:</h6>
        <a class="collapse-item" href="login.html">Login</a>
        <a class="collapse-item" href="register.html">Register</a>
        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">Other Pages:</h6>
        <a class="collapse-item" href="404.html">404 Page</a>
        <a class="collapse-item" href="blank.html">Blank Page</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
{% endcomment %}
</ul>
<!-- End of Sidebar -->
