{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon">
      <img width='134px' height='50px' src="{% static 'images/logo-top-light.png' %}" />
    </div>
  </a>

  <hr class="sidebar-divider my-0">

  <li class="nav-item{% if request.resolver_match.url_name == 'home' %} active{% endif %}">
    <a class="nav-link" href="{% url 'home' %}">
      <i class="fas fa-fw fa-home"></i>
      <span>Inicio</span></a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading Clientes -->
  <div class="sidebar-heading">
    Clientes
  </div>

  <li class="nav-item{% if 'cliente' in request.resolver_match.url_name %} active{% endif %}">
    <a class="nav-link" href="{% url 'cliente-list' %}">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Clientes</span></a>
  </li>

  <li class="nav-item{% if 'factura' in request.resolver_match.url_name and not 'facturaproveedor' in request.resolver_match.url_name %} active{% endif %}">
    <a class="nav-link" href="{% url 'factura-list' %}">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Facturaci&oacute;n</span></a>
  </li>

  <li class="nav-item{% if 'ordencompra' in request.resolver_match.url_name %} active{% endif %}">
    <a class="nav-link" href="{% url 'ordencompra-list' %}">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>&Oacute;rdenes de compra</span></a>
  </li>

  <li class="nav-item{% if 'cobranza' in request.resolver_match.url_name %} active{% endif %}">
    <a class="nav-link" href="{% url 'accounting:cobranza-list' %}">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Cobranzas</span></a>
  </li>
    <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading Proveedores -->
  <div class="sidebar-heading">
    Proveedores
  </div>

  <li class="nav-item{% if 'proveedor' in request.resolver_match.url_name and not 'facturaproveedor' in request.resolver_match.url_name %} active{% endif %}">
    <a class="nav-link" href="{% url 'proveedor-list' %}">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Proveedores</span></a>
  </li>

 {{ request.resolver_match.func }}
  <li class="nav-item{% if 'facturaproveedor' in request.resolver_match.url_name %} active{% endif %}">
    <a class="nav-link" href="{% url 'facturaproveedor-list' %}">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Facturaci&oacute;n</span></a>
  </li>

  <li class="nav-item{% if 'pago' in request.resolver_match.url_name and not 'mediopago' in request.resolver_match.url_name %} active{% endif %}">
    <a class="nav-link" href="{% url 'accounting:pago-list' %}">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Pagos</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Medios de pago
  </div>

  <li class="nav-item{% if 'mediopago' in request.resolver_match.url_name  %} active{% endif %}">
    <a class="nav-link" href="{% url 'mediopago-list' %}">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Medios de pago</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Autenticaci&oacute;n
  </div>

  <li class="nav-item{% if 'user' in request.resolver_match.url_name %} active{% endif %}">
    <a class="nav-link" href="{% url 'permission:user-list' %}">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Usuarios</span></a>
  </li>

  <li class="nav-item{% if 'group' in request.resolver_match.url_name %} active{% endif %}">
    <a class="nav-link" href="{% url 'permission:group-listado' %}">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Grupos</span></a>
  </li>

  <li class="nav-item{% if 'permission' in request.resolver_match.url_name %} active{% endif %}">
    <a class="nav-link" href="{% url 'permission:permission-listado' %}">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Permisos</span></a>
  </li>

{% comment %}
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Components</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Components:</h6>
        <a class="collapse-item" href="buttons.html">Buttons</a>
        <a class="collapse-item" href="cards.html">Cards</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Utilities</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Utilities:</h6>
        <a class="collapse-item" href="utilities-color.html">Colors</a>
        <a class="collapse-item" href="utilities-border.html">Borders</a>
        <a class="collapse-item" href="utilities-animation.html">Animations</a>
        <a class="collapse-item" href="utilities-other.html">Other</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Addons
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
      <i class="fas fa-fw fa-folder"></i>
      <span>Pages</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Login Screens:</h6>
        <a class="collapse-item" href="login.html">Login</a>
        <a class="collapse-item" href="register.html">Register</a>
        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">Other Pages:</h6>
        <a class="collapse-item" href="404.html">404 Page</a>
        <a class="collapse-item" href="blank.html">Blank Page</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
  {% endcomment %}
</ul>
<!-- End of Sidebar -->
