{% extends 'base.html' %}
{% load static %}
{% block title %}Usuarios - Liqueed{% endblock %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Usuarios</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">

        </div>
        <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th></th>
                </tr>
            </tfoot>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{ user.pk }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        </div>
    </div>

    </div>
  
{% endblock %}
