<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Cliente</h5>
    <h6 class="card-title">Detalle</h5>
      <h6 class="card-title">USD 1000</h5>
	<div class="step">
	  <div>
	    <div class="circle circle-check"><i class="fa fa-check"></i></div>
	  </div>
	  <div>
	    <div class="title">Factura enviada el </div>
	  </div>
	</div>
	<div class="step">
	  <div>
	    <div class="circle circle-check"><i class="fa fa-check"></i></div>
	  </div>
	  <div>
	    <div class="title">Distribución</div>
	  </div>
	</div>
	<div class="step">
	  <div>
	    <div class="circle circle-check"><i class="fa fa-check"></i></div>
	  </div>
	  <div>
	    <div class="title">Cobrada</div>
	  </div>
	</div>
	<div class="step">
	  <div>
	    <div class="circle circle-check"><i class="fa fa-check"></i></div>
	  </div>
	  <div>
	    <div class="title">Recepción Fc Proveedores</div>
	  </div>
	</div>
	<div class="step">
	  <div>
	    <div class="circle circle-check"><i class="fa fa-check"></i></div>
	  </div>
	  <div>
	    <div class="title">Pago a proveedores</div>
	  </div>
	</div>
  </div>
</div>
