<div class="row no-gutters">
  <div class="col-12">
    <form class="form-inline float-right">
      <div class="form-group mb-2">
	<input autocomplete="off" value="{{ request.GET.desde }}"
	       type="text" class="form-control form-control-sm" name="desde" id="id_desde"
	       placeholder="Desde"
	/>
	<input autocomplete="off" value="{{ request.GET.hasta }}"
	       type="text" class="form-control form-control-sm" name="hasta" id="id_hasta"
	       placeholder="Hasta"
	/>
	<div class="input-group-append">
	  <button class="btn btn-primary btn-sm" type="submit">
	    <i class="fas fa-filter"></i>
	  </button>
	</div>

	<div class="input-group-append">
	  <button class="clean btn btn-primary btn-sm" type="submit">
	    <i class="fas fa-times-circle"></i>
	  </button>
	</div>

      </div>
    </form>
  </div>
</div>
{% block extra_js %}
<script>
$('#id_desde').datepicker({format: 'dd/mm/yyyy', language: 'es', todayHighlight: true});
$('#id_hasta').datepicker({format: 'dd/mm/yyyy', language: 'es', todayHighlight: true});
$('.clean').click(function(){
    $('#id_desde').val('');
    $('#id_hasta').val('');
});
</script>
{% endblock %}
