<form class="form-inline" method="get">
  <div class="form-group mr-1 mb-2">
    <div class="dropdown mr-2">
      <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Pagado
      </button>
      <div id="id_dropdown_pagado" name="pagado" class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton" style="">
        <a class="dropdown-item" href="#">Si</a>
        <a class="dropdown-item" href="#">No</a>
        <a class="dropdown-item" href="#">Todos</a>
      </div>
      <input type="hidden" name="pagado" id="id_pagado">
    </div>
    <input autocomplete="off" value="{{ request.GET.desde }}"
           type="text" class="form-control form-control-sm" name="desde" id="id_desde"
           placeholder="Desde"
    />
    <input autocomplete="off" value="{{ request.GET.hasta }}"
           type="text" class="form-control form-control-sm" name="hasta" id="id_hasta"
           placeholder="Hasta"
    />
    <div class="input-group-append">
      <button class="btn btn-primary btn-sm mr-2" type="submit">
        <i class="fas fa-filter"></i>
      </button>
    </div>

    <input onfocus="this.select()" autofocus autocomplete="off" value="{{ request.GET.search }}"
           type="text" class="form-control form-control-sm" name="search" id="id_search"
           placeholder="Buscar"
    />
    <div class="input-group-append">
      <button class="btn btn-primary btn-sm" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>

{% block extra_js %}
<script>
 $('#id_dropdown_pagado a').click(function(){
   let selected = $(this)[0].outerText;
   set_value(selected);
   $('form').submit();
 });

$('#id_desde').datepicker({format: 'dd/mm/yyyy', language: 'es', todayHighlight: true});
$('#id_hasta').datepicker({format: 'dd/mm/yyyy', language: 'es', todayHighlight: true});

$('#id_search').keypress(function(event){
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){
        set_value()
    }
});
 function set_value(value){
    if (value === 'Si'){
        $('#id_pagado').val('1');
    }
    if (value === 'No'){
        $('#id_pagado').val('0');
    }
  }
</script>
{% endblock %}
